﻿/** OAUTH/2 BUTTONS DEFINITION  **/
#google { background-color:#4285F4; }
#google .imgbtn { background-image: url(../images/sso/google.png); }

#facebook { background-color:#2f4e9e; }
#facebook .imgbtn { background-image: url(../images/sso/facebook.png); }

#yahoo { background-color:#6839af; }
#yahoo .imgbtn { background-image: url(../images/sso/yahoo.png); background-size: 30px; }

#linkedin { background-color:#00A0DC; }
#linkedin .imgbtn { background-image: url(../images/sso/linkedin.png); }

#dropbox { background-color:#007ee6; }
#dropbox .imgbtn { background-image: url(../images/sso/dropbox.png); background-size: 30px; }

#azure { background-color:#0072c6; }
#azure .imgbtn { background-image: url(../images/sso/azure.png); background-size: 30px; }

#saml { background-color:#c63212; }
#saml .imgbtn { background-image: url(../images/sso/saml.png); background-size: 30px; }

#forgerock { background-color:#465967; }
#forgerock .imgbtn { background-image: url(../images/sso/forgerock.png); background-size: 30px; }

#okta { background-color:#a0a0a0; }
#okta .imgbtn { background-image: url(../images/sso/okta.png); background-size: 30px; }
