﻿#ftmanager-parameters {
	width: 760px;
	height: 400px;
}
#ftmanager-parameters .ulback
{
    height: 410px;
    width: 140px;
    }

#ftmanager-parameters .tab_content
{
    height: 250px;
    width: 77%;
    }

#ftCloseBtn div, #ftUploaderClose div { background-image: url(../images/cancel.png); }
#ftDeleteBtn div { background-image: url("../images/delete.png"); }
#ftEditBtn div { background-image: url(../images/edit.png); }
#ftAddTransferBtn div { background-image: url(../images/add.png); }
#ftEnqueueBtn div { background-image: url(../images/enqueue.png); }
#ftTransferBtn div { background-image: url(../images/transfer.png); }
#ftDownloadBtn div { background-image: url("../images/download.png"); }
#ftUploadBtn div, #ftUploaderUpload div { background-image: url("../images/upload.png"); }

#ftmanager-parameters .internalTable td:first-child
{
    width: 5%;
    }


#ftmanager-parameters .internalTable tr td.t_radio, th.t_radio {
    width:3%;
}

#ftmanager-parameters .internalTable tr td.t_name, th.t_name  {
    width:47%;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
}
#ftmanager-parameters .internalTable tr td.t_name p
{
    max-width:260px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
}

#ftmanager-parameters .internalTable tr td.t_size, th.t_size {
    width:20%;
}

#ftmanager-parameters .internalTable tr td.t_date, th.t_date {
    width:30%;
}

/*LOGGER*/
#FTLogger-pane
{
    width: 315px;
    z-index: 2000;
    position: absolute;
    top:20px;
	-moz-opacity:.95;
	filter:alpha(opacity: 95);
	opacity: .95;
	padding: 0px;
    cursor: auto;
	border: none;
	margin: 0px;
    }

#FTLogger-pane:hover
{
	-moz-opacity:1;
	filter:alpha(opacity: 100);
	opacity: 1;
    }

.popupbar {
    background-color: #CCCCCC;
}
#FTLogger-title, #logToogle, #logClose, #logClear
{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px #999999;
    cursor: pointer;
}

#logToogle, #logClose, #logClear
{
    border-left: solid 1px #999;
    height: 16px;
    width: 16px;
    background-image: url(../images/transferLogTB.png);
    }
#logClear
{
    background-position: 34px center;
    }
#logClose
{
    background-position: 16px center;
    }
#FTLogger-title
{
    height: 16px;
    width: 253px;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    line-height: 16px;
    vertical-align: middle;
    text-align: left;
    color: #000000;
    background-color: #CCCCCC;
}

#progressbar, #upProgressbar, .progressbar
{
    height:20px; margin:5px; text-align: left; overflow: hidden;
    border: solid 1px #108000;
}
#progressbar_bar, #upProgressbar_bar, .progressbar_bar
{
    position:relative;
    margin: 0px;
    height: 100%;
    background-color: #33FF11;
    }

#progressbar_msg, #upProgressbar_msg, .progressbar_msg
{
    position: relative;
    margin:0px;
    width:100%;
    height:20px;
    margin-top: -20px;
    line-height: 20px;
    vertical-align:middle;
    text-align: center;
    font-size: 10px;
    }
#logContent
{
    position: relative;
    margin: 0px 5px 5px 5px;
    border: solid 1px #CCCCCC;
    width: 300px;
    height: 300px;
    overflow: scroll !important;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    }
#ftLogger-info
{
    color: #666666;
    margin: 5px;
    }
#ftLogger-info p {margin: 5px 5px 0px 5px;}
#ftLogger-info b {color: #000; display:inline-block; width: 50px;}
#ftLogger-info span {display:inline-block; max-width: 230px;}

#ftLogger-info .popuplink {margin-top: 0px; padding-top: 0px;}

#ftLogger-info .centered
{
    text-align : center;
    }
#logFooter
{
    width: 100%;
    text-align: center;
    margin-top: -5px;
    padding: 0px;
    margin-bottom: 5px;
    }
/* upload */
#FTUpload-pane
{
    height: 250px;
    width: 480px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -240px;

    float: none;
    color: #666;
    padding: 10px;
    border: none;
    background-color: transparent;
	background-image: url(../images/zsBackground.jpg);
	opacity: .95;
}
#FTUpload-pane div.contents
{
    text-align: center;
}
#FTUpload-pane table
{
    width: 90%;
    margin: auto;
}
#FTUpload-pane td, #FTUpload-pane th
{
    text-align: left;
    padding: 3px;
    }
#FTUpload-pane td:first
{
    font-weight: 700;
    }
#FTUpload-pane input[type='text']
{
    width: 210px;
    }

/* queue definition (wizard) */
#ftWizard-parameters {
	width: 680px;
	height: 360px;
    box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -o-box-shadow: 0 0 10px black;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#ftWizard-parameters .ulback
{
    height: 370px;
    }

#ftWizard-parameters .tab_content
{
    height: 210px;
    }

#ftwCloseBtn div { background-image: url(../images/cancel.png); }
#ftwEnqueueBtn div { background-image: url(../images/save.png); }

#ftmanager-parameters .note
{
    margin: 10px;
    }
#FTHistory
{
    width: auto;
    min-width: 100%;
    white-space: nowrap;
    }
#FTHistory th, #FTHistory td
{
    padding-right: 10px;
    }
.fthCompleted, .fthError, .fthOperation
{
    width: 8px;
    margin-left: 5px;
    margin-right: 15px;
    height: 8px;
    margin-top: 1px;
    display: inline-block;
    }
.fthCompleted
{
    background-color: #00CC00;
    border: solid 1px #006600;
    }
.fthError
{
    background-color: #CC0000;
    border: solid 1px #660000;
    }
.fthOperation
{
    color: #000000;
    line-height: 6px;
    font-weight: 700;
    font-size: 12px;
    }
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.flippedV
{
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.errorDetails
{
    color: #CC0000;
    }

.qArrow
{
    display: inline-block;
    background-image: url("../images/arrowDown12.png");
    width: 12px;
    height: 12px;
    padding:0px;
    margin: 4px 0px 0px 0px;
    }
 .failed
 {
     background-color: #F00;
     }