﻿/* General */
body {
     overflow:hidden;
}

body, div, table, td, fieldset
{
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
}

html
{
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

body
{
    /*overflow: hidden;*/
    display: block;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    font-size: 10pt;
    color: #444444;
    background: #fff;

	font-style: normal;
	font-variant: normal;
	font-weight: normal;

	font: 14px/21px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;

    background-color: #ffffff;
    margin: 0px;
}

h2
{
    color: #3297d6;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    font-weight: 300;
}

/* ============ */
h2
{
    color: #3297d6;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    font-weight: 300;
}

.fullscr {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% -210px;
}

/* ============ */
.noConnsAvailable {
    display: block;
    color: #3297d6;
    font-size: 18pt;
    position: relative;
    text-align: center;
    margin-top: 18pt;
}

.currentPanel
{
    z-index: 1;
}

.footer
{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position-y: -150px;
    background-position-x: -40px;
    position: fixed;
    text-align: center;
    bottom: 0px;
    background-color: #ffffff;
    width: 100%;
    border-top: solid 1px #3297d6;
    padding-bottom: 5px;
}

    .footer *
    {
        text-decoration: none;
        white-space: nowrap;
        color: #3297d6;
    }

    .footer a
    {
        color: #3297d6 !important;
    }

/****************************/
/* Fields */
img
{
    border: 0;
}

/* Structure */
#panelSlider
{
    display: block;
    position: absolute;
    overflow: hidden;
    left: 24px;
    right: 24px;
    top: 0px;
    bottom: 0px;
    min-height: 180px;
    min-width: 320px;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
}

#connect-page
{
    width: 100%;
    height: 100%;
    /*IPAD Safari Compatibility*/
    transform:translateX(0%);
    -webkit-transform:translateX(0%);
}

.container
{
    display: block;
    text-align: left;
    position: absolute;
    top:0px;
    bottom:0px;
    z-index: 1;
    left: 0px;
    right: 0px;
}

.header {
    height: 115px;
    width: 100%; 
    border-bottom-color: #3297d6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: transparent;
    display: table;
}
    .header .logo-container {
        display: table-cell;
        vertical-align: middle;
    }

    .header .settingsPane {
        position: absolute;
        width: auto;
        min-width: 32pt;
        height: 32pt;
        right: 12pt;
        top: 48pt;
        display: block;
        margin-right: 4px;
    }
        .header .settingsPane .icon {
            font: normal normal normal 16px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            width: 24pt;
            height: 24pt;
            margin: 1px;
            border-radius: 50%;
            line-height: 24pt;
            cursor: pointer;
            border: solid 1px transparent;
            background-color: rgba(50, 151, 214, .075);
            color: #3297d6;
            text-decoration: none;
        }

            .header .settingsPane .icon:hover {
                border: solid 1px rgba(50, 151, 214, .2);
            }


    #btnAnalytics, #btnPlayback {
        display: none;
    }

        #btnAnalytics.visible, #btnPlayback.visible {
            display: inline-block;
        }

.logo
{
    margin-left: 24px;
    display: inline-block;
}

#groupPage {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
}
    #groupPage.slide-out {
        animation: slideConn-out 1.3s forwards;
        -webkit-animation: slideConn-out 0.5s forwards;
    }

    #groupPage.slide-in {
        animation: slideConn-in 0.5s forwards;
        -webkit-animation: slideConn-in .35s forwards;
    }

.groupPopup {
    width: 100%;
    height: 100%;
    text-align: left;
}
.groupPopup #groupHeader {
    text-align: center;
    font-size: 14pt;
    color: #333;
    padding-bottom: 10pt;
    margin-top: -14pt;
    cursor: auto;
}
    .groupPopup #groupTitle {
        line-height: 20pt;
        border-radius: 10pt;
        background-color: #fff;
        display: inline-block;
        padding: 3pt;
        padding-left: 10pt;
        padding-right: 10pt;
        box-shadow: 0px 0px 5px #999;
    }
.groupPopup #groupContainer {
    border: none;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px #999;
    background-color: #ffffff;
    display: block;
    overflow: auto;
}

.connection.targetDrop {
    background-color: rgba(50,151,214,0.3);
}

/* Buttons */
#options, #moveTabs
{
    position: relative;
    border: solid 1px #CCC;
    display: inline;
    float: right;
    height: 10px;
    width: 10px;
    line-height: 8px;
    font-size: 8pt;
    padding: 3px;
    text-align: center;
    margin: 0px 0px 10px 0px;
    z-index: 100;
    overflow: hidden;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -moz-linear-gradient(white,#EFEFEF);
    background: -webkit-gradient(linear,left top,left bottom,from(white),to(#EFEFEF));
    box-shadow: 0 0 2px #A0A0A0;
    -webkit-box-shadow: 0 0 2px #A0A0A0;
    -moz-box-shadow: 0 0 2px #A0A0A0;
    -o-box-shadow: 0 0 2px #A0A0A0;
    border-image: initial;
    top: 5px;
}

#moveTabs
{
    margin-right: 5px;
    width: 5px;
    font-weight: bold;
}

.btnPane
{
    text-align: right;
    box-sizing: border-box;
    padding-right: 25px;
}

.container div.panel .btntable
{
    bottom: 10px;
    position: relative;
    width: 100%;
    display: block;
    height: 50px;
	margin-top:50px;
    text-align: right;
}


/* #Buttons
================================================== */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
{
    background: #eee; /* Old browsers */
    background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
    background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    .button:hover,
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover
    {
        color: #222;
        background: #ddd; /* Old browsers */
        background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
        background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
        background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
        background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
        background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
        background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
        border: 1px solid #888;
        border-top: 1px solid #aaa;
        border-left: 1px solid #aaa;
    }

    .button:active,
    button:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active
    {
        border: 1px solid #666;
        background: #ccc; /* Old browsers */
        background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
        background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
        background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
        background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
        background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
        background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */
    }

    /* Fix for odd Mozilla border & padding issues */
    button::-moz-focus-inner,
    input::-moz-focus-inner
    {
        border: 0;
        padding: 0;
    }
/* --------------------------- */

#newWindowDiv
{
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 12px;
    z-index: 1;
}

#fullscreenDiv
{
    position: absolute;
    bottom: 25px;
    left: 45px;
    font-size: 12px;
    z-index: 100;
}

/* Footer */
/*
#footer
{
    clear: both;
    border-top: 1px solid #dedede;
    padding: 6px 14px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    bottom: 5px;
    z-index: 0;
}

    #footer p a
    {
        border: none;
    }

    #footer h6
    {
        float: right;
        font-size: 10pt;
    }
    */
/* not used in webzsa, webrdp */
#settings
{
    outline-width: 0px;
    display: block;
    visibility: hidden;
}

#ui-dialog-title-dialog
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#settingscontainer
{
    border-style: solid;
    border-width: 2px;
    border-color: #E6E6E6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: left;
}

#settings table tr td
{
    padding: 4px;
}

    #settings table tr td input[type='text'], #settings table tr td select
    {
        border-radius: 4px;
        border-width: 1px;
        border-color: #C0C0C0;
        padding: 2px;
        /*
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    */
        width: 250px;
    }

.webItem
{
    border: none;
    color: #3297d6;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

    .webItem div.capsule,
    .webItem div.ibody {
        border: none;
        background-color: rgba(50, 151, 214, .075);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        top: 45%;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 60px;
        box-sizing: border-box;
    }

    .webItem div.icon {
        font: normal normal normal 22px/1 FontAwesome;
        text-rendering: auto;
        color:#3297d6;
        height: 32px;
        line-height: 32px;
        width: 32px;
        vertical-align: middle;
    }

    .group .webItem div.icon {
        font: normal normal normal 32px/1 FontAwesome;
        width: 32px;
        line-height: 32px;
        padding-left: 1px;
        border-radius: 0;
        border:none;
    }
/*
#btnlogout
{
    position: absolute;
    display: block;
    z-index: 999;
    height: 20px;
    top: 8px;
    right: 40px;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    color: #999999;
    cursor: pointer;
}
*/
/* switch pane arrows */
.switchButton
{
    top: 0px;
    bottom: 0px;
    width: 24px;
    position: absolute;
    z-index: 998;
}

    .switchButton span:hover
    {
        /*background-color: rgba(50, 141, 214, .025);*/
        cursor: pointer;
    }

#switchRight
{
    right: 0px;
}

    #switchRight span
    {
        background-position: 0px center;
    }
/* #switchRight:hover { border-left: solid 1px rgba(50, 141, 214, .05); } */
#switchLeft
{
    left: 0px;
}

    #switchLeft span
    {
        background-position: -24px center;
    }
/* #switchLeft:hover {	border-right: solid 1px rgba(50, 141, 214, .05); } */
.switchButton span
{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    width: 24px;
    height: 48px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    font-weight: 700;
    font-size: 20px;
    font-family: sans-serif;
    background-image: url(../images/idx/pagearrows.png);
    -moz-opacity: .25;
    filter: alpha(opacity=25);
    opacity: .25;
    cursor: pointer;
}

.switchButton span:hover
{
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

div#panelSlider.onlyicons
{
    margin: 0.01%!important;
}

div#btnLogout.onlyicons
{
    display: none!important;
}

.editorSlider {
    width:100%;
    height:auto;
    bottom:50px;
    top:125px;
    right:0px;
    position: absolute;
    transform: translateX(+100%);
    -webkit-transform: translateX(+100%);
    z-index:1001;
    background-color: transparent;
}

/* ---------- Mini ------------ */
@media only screen and (max-width: 600px)
{
    .connect-parameters
    {
        width: auto;
        left: 0px;
        right: 10px;
    }

    ul.tabs
    {
        margin-right: 40px;
        padding-right: 40px;
        overflow: hidden;
        width: 100%;
    }
}

@media only screen and (max-width: 528px)
{

    .hiddenThin
    {
        display: none;
    }
}

@media only screen and (max-width: 450px)
{
    #panelSlider
    {
        left: 20px;
        right: 20px;
        min-width: 200px;
    }

    .connect-parameters
    {
        width: 360px;
    }

    .tab_content table
    {
        padding: 15px 0px 15px 0px;
    }

    .connect-parameters td,
    .connect-parameters input[type="text"],
    .connect-parameters input[type="password"],
    .connect-parameters select
    {
        font-size: 12px;
    }

    .firstTd
    {
        width: auto;
        white-space: nowrap;
    }
    select#keyboardLayout
    {
        width: 200px;
    }
    .logo
    {
        max-width: 80%;
    }
}

@media only screen and (max-width: 540px) {
    .logo {
        width: 60%;
    }
}



@-moz-document url-prefix() {
    @media only screen and (max-height: 752px) {
        #newWindowDiv {
            bottom: 85px;
        }
    }
}

@media only screen and (max-height: 540px) {
    .header {
        height: 100px;
    }

    #newWindowDiv {
        bottom: 24px;
    }

    .logo {
        max-height: 85%;
    }

    .header .settingsPane {
        top: 40pt;
    }

    .editorSlider {
        top: 105px;
    }
}

@media only screen and (max-height: 488px) {
    .header {
        height: 60px;
    }

    .editorSlider {
        top: 65px;
    }

    .logo {
        height: 50px;
        width: auto;
        margin-left: 20px;
    }

    .header .settingsPane {
        top: 18pt;
    }

        .header .settingsPane .icon {
            width: 18pt;
            height: 18pt;
            font-size: 11pt;
            line-height: 18pt;
        }
}

@media only screen and (max-height: 400px) {
    .connect-parameters {
        margin-top: 10px;
    }

    /*.container
    {
        bottom: 42px;
    }*/

    .container div.tab_content {
        min-height: 100px !important;
    }

    .tab_content table {
        padding-top: 20px;
    }

    .container div.panel .btntable {
        margin-top: 3px;
        padding-right: 5px;
        box-sizing: border-box;
    }

    .trdpbtn, .trdpbtn:hover {
        margin-top: 10px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 406px)
{
    .connect-parameters
    {
        width: 100%;
    }

    select#keyboardLayout
    {
        width: 180px;
    }

}

@media only screen and (max-width: 320px)
{
    #btnlogin
    {
        right: 20px;
    }
    #btnlogout
    {
        right: 20px;
    }
    .tabs
    {
        font-size: 12px;
    }

}

/* connections section */
.connections
{
    overflow: hidden;
    position: absolute;
    float: none;
    padding: 10px;
    height: auto;
    display: block;
    left: 0px;
    right: 0px;
    top: 0px;
    width: auto;
    margin: 0px;
    bottom: 0px;
    box-sizing: border-box;
}

/* connection icons */
.connection
{
    height: 120px;
    width: 120px;
    margin: 8px;
    text-align: center;
    vertical-align: bottom;
    font-size: 11px;
    border: 1px solid transparent;
    font-weight: normal;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
    position: relative;
    box-sizing: border-box;
}

.connection.group
{
    color: #666666;
}

    .connection.group .icon {
        color: #FFAA00;
    }

    .connection:hover
    {
        border: 1px solid rgba(50,151, 214, .20);
        background-color: rgba(50,151, 214, .025);
        color: #000000;
    }

    .connection .headerBar {
        background-color: transparent;
        width: 100%;
        display: block;
        text-align: right;
        position: absolute;
        box-sizing: border-box;
        padding-right: 2pt;
        padding-top: 1px;
        height: 16pt;
    }

    .connection.private div.capsule::after {
        content: '\f007';
        font: normal normal normal 12px/1 FontAwesome;
        position: absolute;
        bottom: 0px;
        right: -2px;
        margin: 0px;
        color: rgba(50, 151, 214, .9);
        display: block;
    }

        .connection .headerBar .icon {
            width: 16px;
            height: 16px;
            font: normal normal normal 14pt/1 FontAwesome;
            text-rendering: auto;
            color: #3297d6;
            display: none;
        }

.connection:hover .headerBar .icon {
    display: inline-block;
}

    .connection:hover .capsule,
    .connection:hover .ibody
    {
        background-color: transparent;
    }


    .connection a
    {
        color: #666666;
    }

    .connection span, .connection img
    {
        position: relative;
        float: none;
        margin-right: auto;
        margin-left: auto;
        clear: both;
    }

    .connection img
    {
        height: 32px;
        width: 32px;
        vertical-align: middle;
    }

    .connection span {
        margin: 0px auto;
        padding: 0px;
        width: 110px;
        height: 28px;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        top: 30px;
    }

    .connection.phantom {
        margin-left: 0px;
        padding-left: 4px;
        border-left: solid 4px;
        box-sizing: border-box;
    }

.blureable.active {
    filter: blur(2px);
}

@media only screen and (max-width: 690px) {
    .connection { margin: 1px; }
}

@media only screen and (max-height: 533px) and (max-width: 320px)
{
    .connections
    {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}

@media only screen and (max-height: 512px) {
	.connection { margin-top: 0px; margin-bottom: 2px; box-sizing: border-box; }
}

@media only screen and (max-height: 320px)
{
    .header
    {
        height: 52px;
    }
    .logo
    {
        height: 30pt;
    }
    .connections
    {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .editorSlider {
        top:58px;
    }
}

#authPane {
    position: absolute;
    right: 0pt;
    top: 0pt;
    margin-top: 6pt;
    margin-right: 24px;
    display: inline-block;
    font-size: 9pt;
    line-height: 12pt;
    vertical-align: middle;
}
    #authPane span {
        margin-left: 5pt;
        white-space: nowrap;
        color: #999999;
    }

        #authPane span.action {
            color: #3297d6;
            cursor: pointer;
        }


/*Profile Editor Popup Animation*/
#connect-page.slide-out {
    animation: slideConn-out 1.3s forwards;
    -webkit-animation: slideConn-out 1.3s forwards;
}

#connect-page.slide-in {
    animation: slideConn-in 0.5s forwards;
    -webkit-animation: slideConn-in 0.5s forwards;
}

@keyframes slideConn-in {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slideConn-in {
     0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slideConn-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slideConn-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.editorSlider.slide-out {
     animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

.editorSlider.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}

    .editorSlider iframe {
        border:0px;
        width:100%;
        height:100%;
        position:absolute;
        margin:0px;
        padding:0px;
        top:0px;
        left:0px;
        z-index:1;
    }

/*Profile Editor Popup Animation*/