﻿.popup
{
    text-align: left;
    background-color: white;
    width: 430px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11pt;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB;
    border-radius: 3px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -o-box-shadow: 0 0 10px black;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.popup:focus {
    outline-color: transparent;
    outline-style: none;
}

.popup .divbuttons {
    border-bottom: none;
    background-color: #FFFFFF;
    text-align: center;
    border-top: solid 1px #3297d6;
    width: 100%;
    margin: 0px;
    line-height: 39pt;
    display: inline-block;
    vertical-align: middle;
}

.popuplink {
    border: solid 1px rgba(50, 151, 214, .5);
    color: #3297d6;
    background-color: rgba(50, 151, 214, .1);
    font-size: 9pt;
    font-weight: normal;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
    min-width: 65pt;
    display: inline-block;
    line-height: 18pt;
    text-rendering: geometricPrecision;
    box-sizing: border-box;
}
    .popuplink.selected {
        border: solid 1px #3297d6;
        background-color: #3297d6;
        color: #ffffff;
    }

    .popuplink:hover,
    .popuplink:active {
        text-decoration: none;
        font-weight: 700;
    }

    .popuplink:focus {
        outline-color: rgba(50, 151, 214, .3);
        outline-style:  outset;
        outline-width: 1px;
        outline-offset: 1px;
        text-decoration: none;
        font-weight: 700;
    }



#connectingDlg
{
    border: none;
    padding: 20px;
    margin: -20px auto 20px auto;
    line-height: 40px;
    text-align: center;
    height: 80px;
    min-width:300px;
    max-width:500px;
    color: #3297d6;
}

#printDlg {
    text-align: center;
    height: 160px;
    padding-top: 20px;
    margin-top: -40px;
}

#printIco
{
    height: 64px;
    width: 64px;
    border: none;
    padding: 0px;
    margin: 0px auto 15px auto;
    background-image: url(../images/core/printer.png);
    background-position:center center;
    background-repeat: no-repeat;
}

#disconnectedDlg, #closequestion, #confirmDlg
{
    text-align: center;
    min-width: 200px;
    max-width:450px;
    padding-top: 0px;
}

#disconnectedIco, #alertIco
{
    height: 64px;
    width: 64px;
    border: none;
    padding: 0px;
    margin: 0px auto 15px auto;
    background-image: url(../images/core/disconnected.png);
    background-position:center center;
    background-repeat: no-repeat;
}

#confirmDlg #checkrow
{
    font-size: 9px;
}

.establishingConnection,
#establishingConnection
{
    border: none;
    padding: 20px;
    text-align: center;
    width: 50%;
    min-width: 200px;
    max-width: 450px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
}

    .establishingConnection h2,
    #establishingConnection h2
    {
        font-size: 12pt;
        font-weight: 500;
        padding: 10pt;
    }

#updatingPassword
{
    border: none;
    padding: 20px;
    margin: -40px auto 20px auto;
    text-align: center;
    height: 100px;
    width: 300px;
}

#credentials_popup
{
    text-align: center;
    height: 217px;
    width: 380px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -o-box-shadow: 0 0 10px black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

    #credentials_popup.with_credentials {
        height: 246px;
    }

#credentials_popup div#title
{
    position:relative;
    box-sizing:border-box;
    display:block;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #CCC;
    background-color: #3297d6;
    text-transform: capitalize;
    text-align: left;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

#credentials_popup br
{
    display: none;
}

#credentials_popup .connect-parameters {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

#credentials_popup .connect-parameters .line {
    width: 100%;
    line-height: 44px;
    height: 44px;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    margin: auto;
}

    #credentials_popup .connect-parameters .line.left {
        text-align: left;
        padding-left: 10px;
    }

    #credentials_popup .connect-parameters .line.mini {
    line-height: 30px;
    height: 30px;
    }

    #credentials_popup .connect-parameters .line span
    {
        margin-right: 5px;
        display: inline-block;
        width: 70px;
        text-align: left;
    }

    #credentials_popup .connect-parameters input[type='text'],
    #credentials_popup .connect-parameters input[type='password'] {
        box-sizing: border-box;
        width: 240px !important;
        padding: 2px;
        margin: 0px;
        font-size: 12px;
        height: 28px;
    }

#credentials_popup .connect-parameters .line#authErrMessage {
    color: #F00;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#credentials_popup fieldset
{
    border: none;
    margin: 0px;
    padding: 0px;
}

#credentials_popup .connectbuttons
{
    border-top: solid 1px #3297d6;
    background-color: #FFFFFF;
    position: relative;
    box-sizing: border-box;
    height: 40px;
    text-align: center;
}

#credentials_popup .connectlink span.ico {
    display: none;
}

#credentials_popup .connectlink span.txt {
    padding-left: 10px;
    padding-right: 10px;
}

 #alertDlg
{
    text-align: center;
    height: auto;
    width: 250px;
    padding-top: 0px;
    border: none!important;
}

#alertChildDlg {
    text-align: center;
    height: 200px;
    width: 250px;
    padding-top: 0px;
    margin-top: 0px;
    border: none!important;
}

#mssgDlg
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none!important;
    color: #3297d6;
}

.alertBody
{
    padding: 10pt;
}

.popup h3
{
    font-family: Tahoma, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3297d6;
    height: 34px;
    line-height: 34px;
    margin-top: 0px;
    margin-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
	padding-left: 5px;
	padding-right: 5px;
}

.popup h4
{
    font-family: Tahoma, sans-serif;
    font-size: 11pt;
    font-weight: 400;
    line-height: 11pt;
	padding: 10pt;
}

.popupBox.dialog .header
{
    background-color: #3297d6;
    color: #ffffff;
    line-height: 26px;
    padding-left: 10px;
    font-size: 14px;
}

.popupBox.dialog .body div
{
    height: 30px;
}

#remoteDlg
{
    width: 400px;
    height: 460px;
    margin-left: -200px;
    margin-top: 0px;
    padding: 0px;
    top: 50%;
    left: 50%;
    overflow: hidden;
}

#remoteDlg iframe
{
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 430px;
    border: none;
}

.wEnvironmentInfo, .wTrafficInfo {
    padding: 0px;
    max-height: 80%;
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    min-width: 60%;
    max-width: 80%;
}

.wEnvironmentInfo .alertBody, .wTrafficInfo .alertBody
{
    padding: 0px;
    min-height: 200px;
    display: block;
    max-height: 500px;
    height: 70%;
    box-sizing: border-box;
}

#wEnvironmentData, #wTrafficData {
    max-height: 80%;
    overflow: hidden;
    margin-bottom: 0;
}

#wEnvironmentData #info, #wTrafficData #info {
    padding: 5px;
}


#wTrafficData #info div.row {
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    line-height: 14px;
}

    #wEnvironmentData .colLabel,
    #wEnvironmentData .colData,
    #wTrafficData .colLabel,
    #wTrafficData .colData
    {
        display: inline-block;
        width: 50%;
        text-align: left;
        padding: 0px;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
    }

    #wEnvironmentData .colData,
    #wTrafficData .colData
    {
        color: #333333;
        overflow: hidden;
        white-space: nowrap;
    }

    #wTrafficData .colData
    {
        text-align: right;
    }




.credentials_popup
{
    text-align: center;
    height: 218px;
    width: 380px;
    margin: auto;
    top: 50%;
    margin-top: -110px;
    box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -o-box-shadow: 0 0 10px black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.credentials_popup div.title
{
    position:relative;
    box-sizing:border-box;
    display:block;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #CCC;
    background-color: #3297d6;
    text-transform: capitalize;
    text-align: left;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

.credentials_popup br
{
    display: none;
}

.credentials_popup .connect-parameters {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

    .credentials_popup .connect-parameters .floatBox
    {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }


.credentials_popup .connect-parameters .line {
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin: auto;
}

    .credentials_popup .connect-parameters .line label
    {
        margin-right: 5px;
        display: inline-block;
        width: 70px;
        text-align: left;
        line-height: 30px;
        font-weight:400 !important;
        font-size:12px !important;
    }

.credentials_popup .connect-parameters input {
    box-sizing: border-box;
    width: 240px !important;
    padding: 2px;
    margin: 0px;
    font-size: 12px !important;
    height: 28px;
    border-style:ridge;
}

.credentials_popup .connect-parameters .line#authErrMessage {
    color: #F00;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.credentials_popup fieldset
{
    border: none;
    margin: 0px;
    padding: 0px;
}

.credentials_popup .connectbuttons
{
    border-top: solid 1px #3297d6;
    background-color: #FFFFFF;
    position: relative;
    box-sizing: border-box;
    height: 40px;
    text-align: center;
}

    .credentials_popup .connectbuttons .connectlink
    {
        font-size:10pt;
        white-space:nowrap;
        text-align:center;
        font-family:sans-serif, arial;
        vertical-align:middle;
        border-radius:3px;
        padding:5px 10px 5px 10px;
        top:6px;
        margin:0px 3px 0px 10px;
        height:16px;
        line-height:normal;
        position:relative;
    }

        .credentials_popup .connectlink span.ico {
            display: none;
        }

        .credentials_popup .connectlink span.txt {
            padding-left: 10px;
            padding-right: 10px;
            font-size:12px !important;
        }

.absoluteCenter {
    position: absolute;
    margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 4096px)
{
    #disconnectedDlg, #closequestion, #confirmDlg
    {
        text-align: center;
        width: 450px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 1024px)
{
    #disconnectedDlg, #closequestion, #confirmDlg
    {
        text-align: center;
        max-width: 95%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

     #disconnectedIco, #alertIco {
        height: 54px;
        width: 54px;
        background-size:cover;
    }
}

@media only screen and (max-width: 800px)
{
    #disconnectedDlg, #closequestion, #confirmDlg
    {
        text-align: center;
        width: 350px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 540px)
{
    #remoteDlg
    {
        left: 0px;
        right: 0px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    #disconnectedIco, #alertIco {
        height: 45px;
        width: 45px;
        background-size:cover;
    }
}

@media only screen and (max-width: 500px)
{
    #disconnectedDlg, #closequestion, #confirmDlg
    {
        text-align: center;
        width: 280px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

}

@media only screen and (max-width: 420px)
{
    .popup {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #credentials_popup .connect-parameters input
    {
        width: 180px !important;
    }

    #disconnectedDlg, #closequestion, #confirmDlg
    {
        text-align: center;
        width: 230px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #disconnectedIco, #alertIco {
        height: 38px;
        width: 38px;
        background-size:cover;
    }
}

@media only screen and (max-width: 360px)
{
    #credentials_popup
    {
        width: 310px;
    }
        #credentials_popup .connect-parameters input
        {
            width: 180px !important;
        }

    #disconnectedDlg, #closequestion, #confirmDlg
    {
        text-align: center;
        width: 200px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #disconnectedIco, #alertIco {
        height: 32px;
        width: 32px;
        background-size:cover;
    }
}


