﻿html {
    overflow: initial;
}
/* -- Dialogs -- */
#ecWaiting
{
    margin-top: 10px;
}

body.mobile {
    position:fixed !important;
    overflow:hidden !important;
}

.connectbuttons
{
    border-top: solid 1px #CCC;
    background-color: #F0F0F0;
    margin-top: -30px;
    top: 100%;
    height: 30px;
    width: 440px;
    padding: 15px 25px 15px 25px;
    display: table-cell;
    vertical-align: middle;
    text-align:right;
}

.connectlink
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    line-height: normal;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    padding: 5px 10px 5px 10px;
    top: 15px;
    margin: 0px 3px 0px 10px;
    display: inline-block;
    border: solid 1px transparent;
    box-sizing: border-box;
    white-space: nowrap;
    color: #ffffff;
    background: #eee; /* Old browsers */
    background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
    background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    background-color: #3297d6;
    min-width: 90px;
    max-width: 130px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    font-family: sans-serif, Arial;
}
.connectlink:hover, .connectlink:visited, .connectlink:active
{
    text-decoration: none;
	background: #ddd; /* Old browsers */
	background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
	background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
	background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
	background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
	background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
	background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
    background-color: #3297d6;
	border: 1px solid #888;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

.connectlink span.txt { height: 18px; vertical-align:middle; }
.connectlink span.ico { width: 32px; height: 18px; background-position: center center; display: table-cell; padding:0px; margin: 0px; background-repeat: no-repeat;}
#title {
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 65px;
    font-size:12px;
}

/* Download dialogs */

#downloadDialog
{
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*Popup class set vertical alignment, do not need negative margin-top*/
    /*margin-top: -150px;*/
    height: auto;/*300px;*/
    text-align: center;
}

#downloadDialog div.header, #shareDialog div.header
{
    background-color: #3297d6;
    color: #FFFFFF;
    padding: 3px;
    padding-left: 10px;
    border-bottom: solid 1px #CCCCCC;
    text-align: left;
    height: 18px;
    }

    #downloadDialog .disabled {
        color: rgba(50, 151, 214, .5);
    }

    #downloadDialog .popuplink {
        width: 90pt;
    }

#filesTableCont, #shareDialogCont
{
    overflow: auto;
    display: block;
    left: 0px;
    right: 0px;
    position: relative;
    padding: 35px;
    font-size: 11pt;
}

#downloadDialog .tablebox {
    border: none;
}

#downloadDialog .nodata,
#downloadDialog .headTable {
    width: 100%;
    color: #3297d6;
}

#downloadDialog .nodata table {
    width: 100%;
    text-align: center;
}

#downloadDialog .headTable {
    border-bottom: solid 1px #3297d6;
}

#downloadDialog .bodyBox {
    position: relative;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
}

#downloadDialog .bodyTable {
    width: 100%;
    border-collapse: collapse;
}

    #downloadDialog .bodyTable td {
        line-height: 18pt;
        padding: 1pt;
        padding-left: 3pt;
        padding-right: 3pt;
        box-sizing: border-box;
    }

/* ---------- */
#downloadDialog .downloadSize {
    width: 90px;
}

#downloadDialog .bodyTable .downloadSize {
    text-align: right;
}

#downloadDialog .downloadDate {
    width: 80px;
}

#downloadDialog .bodyTable .downloadDate {
    text-align: center;
}

#downloadDialog .downloadTitle {
    text-align: left;
}

#downloadDialog .bodyTable tr:hover {
    background-color: rgba(50, 151, 214, .1);
}

#downloadDialog .bodyTable tr.downloadRowSelected {
    background-color: rgba(50, 151, 214, .2);
}

    #downloadDialog .bodyTable tr.downloadRowSelected:hover {
        background-color: rgba(50, 151, 214, .3);
    }

/*toolbar*/

    #connectionToolbar, #fileDivToolbar, #actionsDivToolbar, #optionsDivToolbar, #colorDepthDivToolbar, #imgQualityDivToolbar, #sendKeysDivToolbar
    {
        background-color: #DDDDDD;
		background-image: linear-gradient(top, rgb(239,239,239) 0%, rgb(221,221,221) 56%);
		background-image: -o-linear-gradient(top, rgb(239,239,239) 0%, rgb(221,221,221) 56%);
		background-image: -moz-linear-gradient(top, rgb(239,239,239) 0%, rgb(221,221,221) 56%);
		background-image: -webkit-linear-gradient(top, rgb(239,239,239) 0%, rgb(221,221,221) 56%);
		background-image: -ms-linear-gradient(top, rgb(239,239,239) 0%, rgb(221,221,221) 56%);
		border: 1px gray solid;
		border-top: none;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		padding: 1px;
		cursor: default;
		color: #333333;
    }

    #connectionToolbar
    {
        position:fixed;
        z-index:998;
        left: 50%;
        margin-left: -100px;
		top: -24px;
        text-align : center;
    }

    #colorDepthDivToolbar, #imgQualityDivToolbar, #sendKeysDivToolbar
    {
		border-top-right-radius: 5px;
    }

    #imgQualityDivToolbar, #colorDepthDivToolbar, #sendKeysDivToolbar
	{
	    position: absolute;
	    top: 23px;
	    left: -1000px;
        z-index:999;
	}
	#actionsDivToolbar, #fileDivToolbar, #optionsDivToolbar
	 {
	    position: fixed;
	    top: 23px;
	    left: -1000px;
        z-index:999;
        }

    #connectionToolbar div.connectionToolbarItem,
    #fileDivToolbar div.connectionToolbarItem,
    #actionsDivToolbar div.connectionToolbarItem,
    #sendKeysDivToolbar div.connectionToolbarItem,
    #optionsDivToolbar div.connectionToolbarItem,
    #colorDepthDivToolbar div.connectionToolbarItem,
    #imgQualityDivToolbar div.connectionToolbarItem
    {
        background-repeat:no-repeat;
        display: inline-block;
        padding: 3px 10px 3px 26px;
        font-family: Helvetica;
        font-size: 11px;
        font-weight: bold;
        border: 1px transparent solid;
		background-image:url(../images/core/ThinRDPToolbar.png);
		cursor: pointer;
    }

    #connectionToolbar div.connectionToolbarItem
    {
        display: inline-block;
        }

    #fileDivToolbar div.connectionToolbarItem,
    #actionsDivToolbar div.connectionToolbarItem,
    #sendKeysDivToolbar div.connectionToolbarItem,
    #optionsDivToolbar div.connectionToolbarItem,
    #colorDepthDivToolbar div.connectionToolbarItem,
    #imgQualityDivToolbar div.connectionToolbarItem
    {
        display: block;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #CCC;        }

    #fileDivToolbar div.connectionToolbarItem,
    #sendKeysDivToolbar div.connectionToolbarItem
    {
        width: 100px;
        }
    #optionsDivToolbar div.connectionToolbarItem,
    #actionsDivToolbar div.connectionToolbarItem
    {
        width: 120px;
        }

    #colorDepthDivToolbar div.connectionToolbarItem
    {
        width: 125px;
        }
    #imgQualityDivToolbar div.connectionToolbarItem
    {
        width: 80px;
        }

    div.connectionToolbarItem.pressed
    {
        border-radius: 3px;
        border-top: solid 1px #333333 !important;
        border-left: solid 1px #333333 !important;
        border-bottom: solid 1px #CCCCCC !important;
        border-right: solid 1px #CCCCCC !important;
		color: #000;
		background-color: #D0D0D0;
	}

    div.connectionToolbarItem:hover {
		color: #000000;
	}

    .toolbarMenu > div
{
    background-image: url(../images/core/ThinRDPToolbar.png);
}

    #disconnectBtn {
        background-position: 0px -2px;
        border-left: 1px #FFF solid !important;
	}
	#actionsMenuBtn
	{
        background-position: 0px -602px;
        border-right: 1px #FFF solid !important;
	    }
	#refreshBtn {
        background-position: 0px -194px;
        border-left: 1px #FFF solid !important;
	}
	#scaleBtn {
        background-position: 0px -48px;
	}
	.scale2 {
        background-position: 0px -98px !important;
        border-radius: 3px;
        border-top: solid 1px #333333 !important;
        border-left: solid 1px #333333 !important;
        border-bottom: solid 1px #CCCCCC !important;
        border-right: solid 1px #CCCCCC !important;
        background-color: #D0D0D0;
	}
	#fileManBtn{
        background-position: 0px -148px;
	}

	#webdavBtn{
        background-position: 0px -148px;
	}

	#uploadBtn
	{
        background-position: 0px -288px;
	    }

	#downloadBtn
	{
        background-position: 0px -238px;
	    }
    .noPadding
    {
        padding-left: 10px !important;
        }
    .subMenu
    {
        background-position: right -552px;
        }
	#keyboardMode, .noIcon
	{
        background-position: -100px 0px;
	    }

	#fileMenuBtn {
        background-position: 0px -442px;
        border-left: 1px #FFF solid !important;
	}

	#sendKeysBtn {
        border-left: 1px #FFF solid !important;
	}
	#optionsMenuBtn {
        background-position: 0px -496px;
        border-left: 1px #FFF solid !important;
	}
    #fullScreen
    {
        background-position: 0px -650px;
        border-left: 1px #FFF solid !important;
        min-width:60px;
    }
.fullScreenOn {
    background-position: 0px -800px !important;
    /*border-radius: 3px;
            border-top: solid 1px #333333 !important;
            border-left: solid 1px #333333 !important;
            border-bottom: solid 1px #CCCCCC !important;
            border-right: solid 1px #CCCCCC !important;
            background-color: #D0D0D0;*/
}
#shareDialog {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: auto;
    text-align: center;
}
    #shareDialog .header {
        font-size: 14px;
    }

#shareDialogCont {
    text-align: left;
}

.shareDiv > div {
    margin-bottom: 12pt;
    line-height: 24pt;
}

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

#shareDialogCont .table-cell {
    padding-bottom: 8pt;
}

#shareDialogCont .table-row:last-child .table-cell {
    padding-bottom: 0px;
}

.ssnLabel {
    padding-right: 2pt;
    width: 90pt;
}

#urlShare, #ssnPassword {
    height: 23pt;
    font-size: 11pt;
    border-radius: 4px;
    border: solid 1px #ccc;
    padding: 4pt;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    box-sizing: border-box;
    color: #777;
    text-rendering: geometricPrecision;
}
	#urlShare
	{
	    width: 100%;
 	}

#shareDialogCont input:focus {
    border-color: #3297d6;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #000;
}


	#ssnShareBtn
	{
        background-position: 0px -384px;
        border-left: 1px #FFF solid !important;
	    }

	.kdbRemoteMode {
        border-radius: 3px;
        border-top: solid 1px #333333 !important;
        border-left: solid 1px #333333 !important;
        border-bottom: solid 1px #CCCCCC !important;
        border-right: solid 1px #CCCCCC !important;
        background-color: #D0D0D0;
	}

    #inputFile
    {
        display:none;
        }

    #settingsBtn {
        background-position: 0px -697px;
    }

	#tbRdpHandle,
	.tbRdpHandle {
        position: absolute;
        left: 50%;
        top: 23px;
        z-index: 820001;
        height: 6px;
        width: 100px;
        color: gray;
        background-color: #DDD;
        background-image: url(../images/core/handle_up.png);
        background-repeat: no-repeat;
        background-position: 50% 60%;
        border: 1px gray solid;
        border-top: solid 1px #FFF;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: center;
        padding: 0px;
		cursor: pointer;
        margin-left: -50px;
	}

	.tbRdpHandle.flppd,
	#tbRdpHandle.flppd {
		background-image:url(../images/core/handle_down.png);
		opacity: 0.5;
	}

	.tbRdpHandle:hover,
	#tbRdpHandle:hover {
		opacity: 1;
	}

	.tbRdpHandle hr,
	#tbRdpHandle hr{
		margin-top: 0px;
	}

    .keypaditem img
    {
        margin-left : 2px;
        margin-top : 0px;
        vertical-align : middle;
    }
#FUProgressContainer
{
    position: absolute;
    right: 0px;
    width: 240px;
    border: solid 1px #FFF;
    top: 25px;
    z-index: 999;
    font-family: Arial, Sans-Serif;
    overflow-x: hidden;
	-moz-opacity: .8;
	filter:alpha(opacity: .8);
    opacity: .8;
    background-color: #fff;
    }
.upfilename
{
    width: 175px;
    left: 5px;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    }
.upfilepercent
{
    width: 45px;
    right: 5px;
    text-align: right;
    display: inline-block;
    }
.clickEffect
{
    position: absolute;
    z-index: 997;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background-color: transparent;
    background-image: url(../images/core/tapEffect1.png);
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


@media only screen and (max-width: 4096px) {
    #shareDialog, #downloadDialog {
        width: 800px;
    }
}

@media only screen and (max-width: 1024px) {
    #shareDialog, #downloadDialog{
        width: 640px;
    }
}

@media only screen and (max-width: 800px) {
    #shareDialog, #downloadDialog {
        width: 500px;
    }
}

@media only screen and (max-width: 540px) {
    #shareDialog, #downloadDialog {
        width: 420px;
    }
}

@media only screen and (max-width: 400px) {
    #shareDialog, #downloadDialog {
        width: 300px;
    }
}

@media only screen and (max-width: 360px) {
    #shareDialog, #downloadDialog {
        width: 260px;
    }
}