﻿#credentialsDialog form {
    margin: 0;
}

.absoluteCenter {
    position: absolute;
    margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dialog {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: none;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    font-size: 11pt;
}

    .dialog .header {
        display: block;
        text-align: center;
        line-height: 22pt;
        vertical-align: middle;
        box-sizing: border-box;
    }

    .dialog .body {
        padding: 20pt;
        box-sizing: border-box;
    }

    .dialog .footer {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        padding: 10px 20px;
        border: none;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        background: none;
    }

.right {
    text-align: right;
}

.dialog .table {
    display: table;
    width: 100%;
}

    .dialog .table .row {
        clear: both;
        display: table-row;
        padding-bottom: 8pt;
        width: 100%;
        line-height: 30pt;
    }

    .dialog .table .cell {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
    }

.dialog .message {
    display: block;
    color: #f00;
    text-align: left;
}

.dialog .message.hidden {
    visibility: hidden;
}

.dialog .footer .button {
    height: 30px;
    border: solid 1px;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 5px;
    padding-right: 15px;
    padding-left: 10px;
    margin: 5px;
    cursor: pointer;
    line-height: 30px;
    white-space: nowrap;
    font-size: 9pt;
    font-weight: normal;
    display: inline-table;
    min-width: 80pt;
    box-sizing: border-box;
    text-align: center;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.dialog .footer .button > * {
        display: table-cell;
    }

    .dialog .footer .button .icon {
        font-size: 18pt;
        width: 20pt;
        text-align: center;
        padding-bottom: 3pt;
        vertical-align: middle;
    }

.dialog .button.secondary {
        box-sizing: border-box;
        padding-top: 4px;
        padding-bottom: 4px;
    }

.dialog .data input, .dialog .data textarea, .dialog .data select {
    font-size: 11pt;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 4pt 6pt;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    box-sizing: border-box;
    color: #777;
    text-rendering: geometricPrecision;
    width: 100%;
    margin-bottom: 0px;
    height: 20pt;
}

.dialog .data select {
    height: 22.5pt;
}

.dialog .data input [type='text'],
.dialog .data input [type='password']
 {
    height: 23pt;
}

.dialog .data input[type='checkbox'],
.dialog .data input[type='radio'] {
    margin-left: 0px;
    margin-right: 5px;
    width: auto;
}

#credentialsDialog {
    width: 460px;
    max-width: 90%;
    max-height: 100%;
}

#credentialsDialog .data input,
#credentialsDialog .data textarea,
#credentialsDialog .data select {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}

/* -- COLORS -- */
.dialog {
	color: #666666;
	background-color: #ffffff;
}

    .dialog .header {
        background-color: #3297d6;
        color: #ffffff;
    }

.dialog .button {
    color: #3297d6;
    background-color: rgba(50, 151, 214, .1);
    border-color: rgba(50, 151, 214, .5);
}

    .dialog .button.selected {
        color: #FFFFFF;
        background-color: #3297d6;
        border-color: #3297d6;
    }

    .dialog .button:hover {
        font-weight: 700;
    }

.dialog .data input, .dialog .data textarea, .dialog .data select {
    border-color: #ccc;
    color: #777;
}

.dialog .data input[type='text']:read-only {
    color: #3297d6;
}

/* --- effects --- */
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #f00;
}