﻿.connectionToolbar, .toolbarMenu
{
    background-color: #DDDDDD;
    background-image: linear-gradient(top, rgb(239,239,239) 0%, rgb(221,221,221) 56%);
    background-image: -o-linear-gradient(top, rgb(239,239,239) 0%, rgb(221,221,221) 56%);
    background-image: -moz-linear-gradient(top, rgb(239,239,239) 0%, rgb(221,221,221) 56%);
    background-image: -webkit-linear-gradient(top, rgb(239,239,239) 0%, rgb(221,221,221) 56%);
    background-image: -ms-linear-gradient(top, rgb(239,239,239) 0%, rgb(221,221,221) 56%);
    border: 1px gray solid;
    padding: 1px;
    cursor: default;
    color: #333333;
    position:fixed;
}

.connectionToolbar
{
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.toolbarMenu
{
    display: table;
    z-index: 999;
    top: 23px;
}

#connectionToolbar
{
    z-index:998;  
    left: 50%;
	top: -24px;
    text-align : center;
}

.connectionToolbarItem, .toolbarMenu > div
{
    background-repeat: no-repeat;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: bold;
    border: 1px transparent solid;
    cursor: pointer;
}

.connectionToolbarItem
{
    display: inline-block;
    padding: 3px 10px 3px 26px;
}

    .connectionToolbarItem.pressed,
    .toolbarMenu div.pressed
    {
        border-radius: 3px;
        border-top: solid 1px #333333 !important;
        border-left: solid 1px #333333 !important;
        border-bottom: solid 1px #CCCCCC !important;
        border-right: solid 1px #CCCCCC !important;
		color: #000;
		background-color: #D0D0D0;
	}

    .connectionToolbarItem:hover {
		color: #000000;
	}

.toolbarMenu > div
{
    padding: 3px 26px 3px 26px;
    display: block;
}

    .toolbarMenu > div:hover {
		color: #000000;
        border: 1px #CCCCCC solid;
	}
    .toolbarMenu > div.hidden
    {
        display: none;
    }

.tbRdpHandle
{
    position: absolute;
    left: 50%;
    top: 23px;
    z-index: 820001;
    height: 6px;
    width: 100px;
    color: gray;
    background-color: #DDD;
    background-image: url(../images/core/handle_up.png);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    border: 1px gray solid;
    border-top: solid 1px #FFF;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    padding: 0px;
    cursor: pointer;
    margin-left: -50px;
}

    .tbRdpHandle.flppd
    {
        background-image: url(../images/core/handle_down.png);
        opacity: 0.5;
    }

    .tbRdpHandle:hover
    {
        opacity: 1;
    }

    .tbRdpHandle hr
    {
        margin-top: 0px;
    }
.noPadding 
{
    padding-left: 10px !important;
}
.noIcon 
{
    padding-right: 10px !important;
    background-image: none !important;
}
