﻿.iziModal.iziModal-thinfinity .iziModal-header {
    background-color: #3297d6;
    padding: 5px;
}
.iziModal.iziModal-thinfinity .iziModal-header-icon {
    color: #fff;
}

.iziModal.iziModal-thinfinity .iziModal-header.iziModal-noSubtitle .iziModal-header-title {
    color: #fff;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    line-height: 15pt;
    vertical-align: middle;
    margin-top: 0px;
}

.iziModal.iziModal-thinfinity .iziModal-header-subtitle {
    color: #fff;
}

.iziModal.iziModal-thinfinity .iziModal-header-buttons {
    color: #ffffff;
}

.iziModal.iziModal-thinfinity .iziModal-button-close {
    background: none;
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 18px;
    padding: 6px;
    text-decoration: none;
}

.iziModal .iziModal-button-close:hover {
    transform: none;
}

.iziModal.iziModal-thinfinity .iziModal-button-close:before {
    content: '\f00d';
}

.iziModal.iziModal-thinfinity .iziModal-button-fullscreen {
    background: none;
}

.iziModal.iziModal-thinfinity.isFullscreen .iziModal-button-fullscreen {
    background: none;
}

.iziModal.transitionIn .iziModal-header,
.iziModal.transitionIn .iziModal-header .iziModal-header-title {
    animation: none;
}

