﻿    	/* structure */
	body
	{
		height:420px!important;
		width: 100%;
		position:absolute;
	}
	.container
	{
		margin:0px;		
		top: 0px;
		left: 0px;
		height: 420px!important;
		border-style: none!important;
	}
	.logo-container
	{
		height: 80px;
	}
    .logo-container img 
	{
		margin: 7px 10px;
		float: left;
 	}
 	.container.fullscr
 	{
 	    height: auto!important;
        overflow: auto;
    }
     .container.fullscr #panelSlider  
     {
		height:315px/*!important*/;
		padding: 0px;
		margin-top:0px!important;
		top: 0px;
        width: 320px;
        min-width: 300px;
        margin-bottom: 0px;
        float: left;
        position: relative;
	}
	.noIcons 
	{
	    height: auto!important;
	    overflow: visible!important;
	}
	.container.fullscr .connect-parameters
	{
		margin: 0px;
		width: 280px;
		padding: 5px;
		height: auto;
		overflow: visible;
	}
	#Group1
	{
	    height: auto;
    }
    .noIpod
	{
	    display:none;
	}
    #credTitleSpan
    {
        left: 30px;
        position: relative;
    }
    .tabContainer 
    {
        width: 250px;   
    }
    #moveTabs
    {
        margin-right: 10px;
        width: 10px;
    }
	#footer
	{
		display:none;
	}
	
	/* tabs */	
	ul.tabs
	{
		border-bottom-style: none;
	}
	ul.tabs li
	{
		width:75px;
	}
	ul.tabs li a 
	{	
		padding: 0px 8px ;
		font-size:12px;				
	}
    .tab_content
	{
		padding-top: 0px;
		overflow: auto;		
	}

	/*all the fields*/
	.firstTd {
		width: 30px;
		padding-right: 5px;
	}
	.connect-parameters select, .connect-parameters input[type="text"], input[type="password"], .connect-parameters input,.connect-parameters tr td:nth-child(2),.connect-parameters tr td:nth-child(1)
	{
		font-size:10px;	
		line-height:15px;
		height:15px !important;		
		padding:2px;	
		vertical-align:middle;
	}
	.connect-parameters tr td:nth-child(1) /*first row of table*/
	{
		width: 70px; 
	}
	p.unrestricted_access
	{
		margin-left:15px;
	}
	
	/*second row and second row fields*/
	.connect-parameters tr td:nth-child(2), .connect-parameters select, .connect-parameters input[type="text"], input[type="password"]
	{
		width: 155px !important; 
	}
	#profiles, #bpp, #resolution, #imgquality, #tabProgram select /*Select fields targeted by id because the select tag doesn't stick for iphone*/
	{
		height:20px !important;		
		width: 160px !important; 
		padding:2px;		
	}
	#tabProgram select
	{
		margin-top:10px;
	}
	
	/*tab General*/
	.connect-parameters input#computer /*combo box*/
	{
		width: 135px !important; 		
	}
	.connect-parameters tr td img /*combo box arrow*/
	{
		height:19px;
		width:19px;
		vertical-align: middle !important;
		padding-left:1px !important;
	}
	#tabGeneral p.unrestricted_access
	{
		clear:both;
		font-size:11px;
	}
	
	/*tab resources*/
	#tabResources table tr td.firstTd
	{
		width: 20px!important;
		margin:0px;
		padding-top: 5px;
	}
    #tabResources input[type="checkbox"]
    {
        width: 15px;
    }
	#tabResources table tr td 
    {
		font-size: 10px;
		width: 70px!important;
    }
    #tabResources td.chkTd
    {
        width: 20px!important;
    }
    #prndriver,#prnname,#diskname
    {
        width: 125px!important;
        margin-top: 4px;
    }
    #squality
    {
        margin-top: 7px;
    }

	/*tab Program*/
	
	#tabProgram tr
	{
	    height: 38px;
	}
	#tabProgram td
	{
		width: 300px ;	
		height:20px;
	}
	#tabProgram input[type="checkbox"]                 /*start program on connection checkbox*/
	{
		float:left;
		display:inline;

	}
	#tabProgram tr:nth-child(2) td,	#tabProgram tr:nth-child(3) td, #tabProgram tr:nth-child(4) td
	{
		padding-left:50px;
	}
	#tabProgram tr:nth-child(5) td
	{
		margin-top:10px!important;
		font-size:8px!important;
	}
	
	/*tab Printer*/
	
	#tabPrinter table tr td label
	{
		position:relative;
		right:130px;
		top:5px;
	}
	#tabPrinter table tr 
	{
		margin:3px 0px;
	}
	

	/*tab Experienced, Advanced, Printer*/
	
	.tab_content table
	{
		width:300px;
		padding: 5px;
	}
	#startprogram, #tabExperience tr td:nth-child(1), #tabAdvanced tr td:nth-child(1), #tabExperience tr td:nth-child(1) input, #tabAdvanced tr td:nth-child(1) input 
	{
		width:20px !important;
		text-align:right;
	}
	#tabExperience tr td:nth-child(2)
	{
		width:200px !important;
	}
	#startprogram
	{
		bottom:5px;	
		position:relative;
	}
    #tabProgram tr:nth-child(1), #tabExperience tr td:nth-child(2), #tabAdvanced tr td:nth-child(2)
	{
		vertical-align:bottom;
		height:20px;
	}
	#tabExperience input[type="checkbox"], #tabAdvanced input[type="checkbox"], #tabPrinter input[type="checkbox"]
	{
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
	}

	/*buttons*/	
	
	.btntable {
		bottom: 0px;
		position: absolute;
	}
	.btntable div
	{
		font-size:12px;
	}
	.btntable div img
	{
		height:20px;
		width:20px;
		position:relative;
		margin-right:10px;
	}
    #connectBtn {
        margin-right: 0px;
        margin-bottom: 20px;
    }
	.switchButton {
		height: 315px;
	}


	/*connections items*/
	.connections
	{
		padding-left: 30px;
	}
	.connection
	{
		margin: 10px;
	}
	#preferences  div fieldset label, #preferences  div fieldset input, #preferences  div,	#preferences label, #prefbuttons span
	{
		font-size:12px;	
	}
    #preferences label span, #prefbuttons span
	{
		margin:2px;
		padding:2px;
	}
	#preferences div fieldset input
	{
		width:200px;
	}
	#prefbuttons div
	{
		width:60px;
		margin:10px 5px;
	}
	#newWindowDiv
	{
	    bottom: 5px;
	    left: 0px;
        position: relative;
	    float: left;
	}
    #newWindow {
		bottom: 10px;
		font-size: 10px;
	}
