﻿    body 
    {
        width: 100%;
        height: 200px!important;
        position: absolute;
        top: 0px!important;
        bottom: 0px!important;
    }

/*footer*/
    #footer
    {
	    display:none;
    }

 /* Header */
    .logo-container
    {
	    height: 45px;
    }
    .logo-container img 
    {
	    height:30px;
	    width:90px;
	    margin: 7px 20px;
	    float: left;
    }



/* FORMS */
    .container.fullscr .connect-parameters 
    {
        width: 460px;
        height: auto;
        overflow: visible;
        top: 0px;
        margin-top: 0px;
     }
	.connect-parameters select, .connect-parameters input[type="text"], .connect-parameters input[type="password"], .connect-parameters input,.connect-parameters tr td:nth-child(2),.connect-parameters tr td:nth-child(1)
	{
		font-size:10px;	
		line-height:15px;
		height:15px !important;		
		padding:2px;	
		vertical-align:middle;
	}
	.connect-parameters tr td:nth-child(1) /*first row of table*/
	{
		width: 70px !important; 
	}
	.connect-parameters input#computer /*combo box*/
	{
		width: 180px !important; 		
	}

	.connect-parameters tr td img /*combo box arrow*/
	{
		height:19px;
		width:19px;
		vertical-align: middle !important;
		padding-left:1px !important;
	}
	.connect-parameters tr td:nth-child(2), .connect-parameters select, .connect-parameters input[type="text"], input[type="password"], .connect-parameters input
	{
		width: 200px !important; 
	}	
	
/* main zone (icons and config dialogs) */
    .switchButton 
    {
        height: 275px !important;
    }
    .container.fullscr
    {
        top: 0px;
        left: 0px;
        margin: 0px;
        height: auto!important;
        overflow: auto;
    }
    .container.fullscr #panelSlider 
    {
	    min-height: 1px;
	    min-width: 1px;
	    
	    width: auto;

	    
	    padding: 0px;
	    margin-left: 0px;
	    margin-right: 0px;
	    margin-top: 0px!important;
	    margin-bottom: 0px;
	    float: left;
        position: relative;
        height: 170px;/*!important;*/
    }    
    .noIcons 
	{
	    overflow: visible!important;
	    height: auto!important;
	}
    .container.fullscr .connections 
    {
        display:block;
	    left: 0px;
	    right: 0px;
	    top: 0px;
	    width: auto;
	    height: auto;/*height:220px;*/
	    margin: 10px;
    }
    .container.fullscr #fullscreenDiv 
    {
        display: none;
    }
    .container.fullscr #sizer
    {
        display: none;
    }
    .panel 
    {
        width: 415px !important;
        padding-left: 5px;
        margin-left: 25px !important;
    }    	
    #Group1
	{
		/*height:200px;*/
		height: auto;
	}
	.noIpod
	{
	    display:none;
	}
	
/*second row and second row fields*/
	#profiles, #bpp, #resolution, #imgquality, #tabProgram select /*Select fields targeted by id because the select tag doesn't stick for iphone*/
	{
		height:20px !important;		
		width: 205px !important; 
		padding:2px;		
	}
	#tabProgram select
	{
		margin-top:10px;
	}

/*tab General*/
	#tabGeneral p.unrestricted_access
	{
		font-size:11px;
		clear:both;
		left:-7px;
		position:relative;
	}
	#tabGeneral  table
	{
	    left: 0px!important;
	    position: absolute;
	}
	#tabGeneral .firstTd
	{
	    width: 400px!important;
	}
	
/*tab Display*/
	#tabDisplay  table
	{
	    left: 0px!important;
	    position: absolute;
	}
	#tabDisplay .firstTd
	{
	    width: 400px!important;
	}

/*tab Resources*/

    #clipbrdenabled
    {
        width: 20px;
        padding: 0px;
        margin: 0px;
    }
    #tabResources label
    {
        padding-left: 5px;
        
    }
    #tabResources tr td
    {
        font-size: 10px;
        width: 200px!important;
    }
    #tabResources input[type="checkbox"]
    {
        width: 15px !important;
    }    	
	#tabResources .firstTd, #tabResources .chkTd
	{
	    width: 20px !important;
	    max-width: 20px !important;
	}    
	#prndriver,#prnname,#diskname
	{
	    width: 175px !important;
	    margin-top: 4px;
	}
    #squality
    {
        margin-top: 5px;
    }

/*tab Program*/
	#tabProgram table 
	{
	    left: 0px!important;
	    position: relative;
	    float: none;
	    
	}
	#tabProgram .firstTd
	{
	    width: 400px!important;
	}
	
    #tabProgram tr 
    {
        height: 35px;
    }
	#tabProgram td
	{
		width: 450px ;	
		padding-left:0px !important;
		padding-right: 0px;
		text-align: left;
	}
    #startprogram
    {
        bottom:16px;
        position:relative;
        float: right;
        margin-right: 30px;
    }
	#tabProgram input
	{
	    display: inline-block;
	    float: right;
	    position: relative;
	    right: 0px;
	    width: 50px;
	}
	#tabProgram label
	{
		position:relative;
		left:-25px;
	}
	#tabProgram tr:nth-child(2) td,	#tabProgram tr:nth-child(3) td, #tabProgram tr:nth-child(4) td
	{
		padding-left:50px;
	}
	#tabProgram tr:nth-child(5) td
	{
		margin-top:5px!important;
		font-size:8px!important;
		float:none!important;
		width:200px!important;
		padding-bottom:20px!important;
	}


/*tab Printer*/
	#tabPrinter table tr td label
	{
		position:relative;
		right:180px;
		top:5px;
		right: 50px;
	}

/*tabs Program Experienced, Advanced, Printer table*/
	div.tab_content table
	{
		width:400px;
		padding:5px;
		height:100px !important;
		scroll-x: auto;
	
	}
	#startprogram, #tabExperience tr td:nth-child(1), #tabAdvanced tr td:nth-child(1), #tabExperience tr td:nth-child(1) input, #tabAdvanced tr td:nth-child(1) input 
	{
		width:20px !important;
		text-align:right;
	}
	#tabProgram tr:nth-child(1), #tabExperience tr td:nth-child(2), #tabAdvanced tr td:nth-child(2)
	{
		vertical-align:bottom;
		height:20px;
	}
	#tabExperience input[type="checkbox"], #tabAdvanced input[type="checkbox"], #tabPrinter input[type="checkbox"], #tabResouces input[type="checkbox"]
	{
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
	}

/* tabs */	
	.tabContainer 
    {
        width: 380px;  
    }
	#options {
		right: 10px;	
	}
	#moveTabs
    {
        margin-right: 10px;
        width: 10px;
        right: 5px;
    }
	.tabs
	{
		margin: 0px 20px;
	}
	ul.tabs
	{
		width: 480px;
	}
	ul.tabs li
	{
		width:67px;
	}
	ul.tabs li a 
	{	
		padding:0px 2px !important;
		font-size:12px;
	}
	.container.fullscr div.tab_content
	{
		overflow: auto;		
		min-height: 100px;
	}

/*others*/
	#newWindowDiv
	{
		bottom: 0px;
        position: relative;
	    float: left;
	    left: 25px;
	    font-size: 12px;
	    z-index: 999;
	    
      
    }
    
    
/*buttons*/	
	.btntable
	{
		bottom:0px!important;
		position: absolute;
	}
	.btntable div img
	{
		height:15px;
		width:15px;
		position:relative;
		margin-right:10px;
		top:0px !important;			
	}
	.btntable div.trdpbtn
	{
		width:100px;
		height:20px !important;
		margin:0px;
		line-height:20px;
		font-size:12px;
	}
	.trdpbtn div
	{
		line-height:20px;
		height:20px;
	}
