﻿	#extkeyboard 
	{
	    width:480px;
	    left: 50%;
	    margin-left: -240px;	
    }
	#extkeyboard td
	{
	    padding-left : 1px;
	    padding-right : 1px;
	    padding-top : 2px;
	    padding-bottom : 2px;
	    font-size: 12px;	    
	    font-weight: bold;
	}
	
	#extkeyboard td p
	{
		margin-top:8px;
	}	

	#extkeyboard td img
	{
		 width:50%;
		 height:50%;
	}

	#extkeyboard div img
	{
		width: 20px;
		height: 20px;
	}
		
    .t2 {
	    height: 32px;
	    width: 39px;
    }
    .t3 
    {
	    height: 32px;
	    width: 60px;    
	    font-size: 10px;	    
    }
    .t4
    {
	    height: 32px;
	    width: 82px;    
    }

	div#extkeyboard div.t1, div#extkeyboard div.t2, div#extkeyboard div.t3, div#extkeyboard div.t4 
	{
	    text-align: center;
	    vertical-align:middle;
        font-family: Helvetica ;
        font-weight: normal ;
        -webkit-text-shadow:1px 1px 1px #fff;
        font-size: 10px;
        margin: 1px;
        height: 28px!important;
        padding-top: 8px;
	}
    div#extkeyboard div.t2 {
	    width: 36px;
    }
    div#extkeyboard div.t3 
    {
	    width: 57px;    
    }
    div#extkeyboard div.t4
    {
	    width: 74px;    
    }
    
	#extkeys
	{
		font-size:10px;
	}
	#extkeys .t2
	{
		height:28px;
		width:32px;
	}	
	#extkeys td
	{
	    padding-left : 1px;
	    padding-right : 1px;
	    padding-top : 2px;
	    padding-bottom : 2px;
	}
	#extkeys td p
	{
		margin-top:8px;
	}
	#preferences  div fieldset label, #preferences  div fieldset input, #preferences  div,	#preferences label, #prefbuttons span
	{
		font-size:12px;	
	}

	#preferences label span, #prefbuttons span
	{
		margin:2px;
		padding:2px;
	}
	
	#preferences div fieldset input
	{
		width:250px;
	}
	
	#prefbuttons div
	{
		width:60px;
		margin:5px 5px;
	}	
	#pcconnection label
	{
		width:80px;
	}