﻿.clickEffect 
{
    position: absolute;
    z-index: 997;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background-color: transparent;
    background-image: url(../images/m/tapEffect1.png);
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    }
.noTransition
{
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
}