﻿{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="apple-touch-icon" href="{% static 'images/icon.png' %}"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <title>Thinfinity&reg; Remote Desktop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'common/af/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/thinrdp.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fileTransfer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/popups.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/toolbar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/thinrdp.credentialsdialog.css' %}"/>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
        }

        body {
            margin: 0;
            overflow: hidden;
        }

        #buttons {
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0px;
            line-height: 30px;
            background-color: #E0E0E0;
            padding-left: 10px;
            padding-right: 10px;
        }

        .deskContainer {
            position: absolute;
            top: 31px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }

        #myIframe, #deskdiv {
            width: 100%;
            height: 100%;
            display: none;
        }
    </style>
    <script>
        var relPath = "/static/";

        console.log(relPath)
    </script>
    <script src="{% static 'sdk.min.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        var mythinrdp = null;

        $(document).ready(function () {
            // GetThinRDP(serverURL, runRemote)
            //   Creates a new ThinRDP instance
            //      serverURL:  substitute with the ThinRDP server URL (http[s]://[URL - IP]:port/)
            //      runRemote:  use to set ThinRDP mode
            //          -- false->local (renders into this page)
            //          -- true-> remote (posts connection data to postPage ("connection.html" as default)

            // setting params
            var params = {

                //exitURL:"about:blank",
                //postPage: 'connection.html',
                //targetWindow: "myIframe", //"iframe or window name",
                centered: true,
                //overrideDefaults: false,  // not applicable in ThinRDP Workstation
                showOnStart: false,
                divId: 'deskdiv', // RDP screen container
                //forceDesktop: false,    // Set to true to force desktop mode on mobile devices with external keyboard and mouse.
                //showToolbar: false, // Set false to hide Thinfinity RDP toolbar
                //createToolbar: false, //Set false to don't create Thinfinity RDP toolbar
                //mouseControl: false, //Set false to quit mouse control
                //kbdControl: false, //Set false to quit keyboard control
                //touchControl: false, //Set false to quit touch control
                //hidePointer: true, //Set false to hide the mouse pointer
                //checkBeforeWindowClose: true, // when false, skips the user confirmation popup of the onBeforeUnload event
                //reconnectOnResize: false, // -- Forces the app to restart when a resize event occurs, by default is "false"
                //noSsnDialog: true, // avoids the share session popup dialog
                //*** Tab General ***
               // profileKey: "uqy6GskRjfbJNufJ3oQV6HiaunIvcQz6index",               // not applicable in ThinRDP Workstation

                      computer: "192.168.1.40:8443",                           // not applicable in ThinRDP Workstation
                       //  username: "nasr",
                      /// password: "nasr",

                //            askForCredentials: false, // Set true to show authentication dialog   // not applicable in ThinRDP Workstation
                //            destType: "default" | "vmid" | "rds",                                 // not applicable in ThinRDP Workstation
                //            destInfo: "" | "VMID of a Hyper-V Virtual Machine" | "TSV URL of a Virtual Desktop on an RDS Collection",
                // not applicable in ThinRDP Workstation

                //*** Tab Display ***
                bpp: 16,
                imagequality: 1,
                //*** Tab Program ***
                startprg: 0,
                //command: "C:\Program Files (x86)\Microsoft Office\root\Office 16\WINWORD.exe",
                //            directory: "substitute with the app context dir",
                //            cmdargs: "substitute with the app arguments",

                //*** Tab Experience ***
                experience: {
                    enableRemoteFx: true,
                    enableTouchRedirection: false,
                    desktopbackground: false,
                    visualstyles: false,
                    menuwindowanimation: false,
                    fontsmoothing: false,
                    showwindowcontent: false,
                    desktopcomposition: false
                },

                //*** Tab Advanced ***
                unicodeKeyboard: true,
                kbdLayout: 1033,  // US keyboard
                console: false,
                wscompression: true,
                relativeTouch: true,
                disableNLA: false,
                //dragDist: 32,
                disableExtKeys: false,
                //tbSize: "medium",

                //*** Tab Printer ***
                //printer: {
                //    enabled: false,
                //    setasdefault: true,
                //    name: "substitute with the printer name",
                //    driver: "substitute with the printer driver"
                //},
                sound: {
                    enabled: true,
                    quality: -1,
                    channels: {
                        minValue: 1,
                        maxValue: 2
                    },
                    samplesPerSec: {
                        minValue: 11025,
                        maxValue: 44100
                    },
                    bitsPerSample: {
                        minValue: 4,
                        maxValue: 16
                    }
                },
                events: {
                    onServerConnecting: function (reconnecting) {
                        //-- formerly "establishingConnection" event binding
                        $.blockUI({message: "<h2>establishing connection...</h2><br/><img src='{% static 'images/loading.gif' %}'/>"});
                    },
                    onServerConnect: function (obj) {
                        //-- formerly "serverConnect" event binding
                    },
                    onQueryDisconnect: function (callback) {
                        //--formerly "disconnectConfirmRequest" event bindig
                        if (confirm("A remote session is active. Are you sure you want to disconnect?")) {
                            if (typeof callback != "undefined") {
                                if (typeof callback == "string")
                                    eval(callback);
                                else
                                    callback();
                            }
                        }
                    },
                    onInteractionRequired: function (cmd) {
                        $.unblockUI();
                    },
                    onServerConnectionError: function (errMessage) {
                        //--formerly "disconnectConfirmRequest" event bindig
                        alert("connect error: " + errMessage);
                    },
                    onServerDisconnect: function () {
                        //--formerly "serverDisconnect" event bindig
                        $.unblockUI();
                    },
                    onExecResult: function (cmd) {
                        //--formerly "execResult" event bindig
                    },
                    // onFileReady: function (sURL) { }, // custom printing and automatic download
                    onSessionEnd: function (message) {
                        //--formerly "sessionEnd" event bindig
                    },
                    onSessionStart: function () {
                        //--formerly "sessionStart" event bindig
                        $.unblockUI();
                    }
                    /*
                    ,
                    onPropertyChange: function (obj) {
                        console.log(obj.property + ": " + JSON.stringify(obj.value));
                    }
                    ,
                    onExecRemoteApp: function (cmd) {
                    }
                    ,
                    onShareSession: function (obj) {
                        alert(JSON.stringify(obj));
                    }
                    */
                }
                /*,
                // Custom shortcuts (Toolbar Actions/Send Keys...)
                "toolbar": {
                    "shortcuts": [
                            {
                                "text": "Help (F1)",
                                "keys": [
                                    { "action": "stroke", "key": 0x70 } // F1
                                ]
                            },
                            {
                                "text": "F5",
                                "keys": [
                                    { "action": "stroke", "key": 0x74 } // F5
                                ]
                            },
                            {
                                "text": "Find",
                                "keys": [
                                    { "action": "down", "key": 0x11 },  // CTRL
                                    { "action": "stroke", "key": 0x46 }, //F
                                    { "action": "up", "key": 0x11 } // CTRL
                                ]
                            },
                            {
                                "text": "Type 'Hello'",
                                "keys": [
                                    { "action": "type", "text": "Hello" }
                                ]
                            },
                            {
                                "text": "Find 'Hello'",
                                "keys": [
                                    { "action": "down", "key": 0x11 },  // CTRL
                                    { "action": "stroke", "key": 0x46 }, //F
                                    { "action": "up", "key": 0x11 }, // CTRL
                                    { "action": "type", "text": "Hello" },
                                    { "action": "stroke", "key": 0x0D } //ENTER
                                ]
                            }
                    ]
                }
                */
            };
            /*-- Uncomment the lines below to ask the user for confirmation before leaving the page.
            $(window).bind('beforeunload', function () {
                    return "Close Window?";
            });
            */
            // --------------
            mythinrdp = GetThinRDP("http://192.168.1.40:8443/nasr", true);
            mythinrdp.connect(params);
        });

        /*

        KEYSTROKE AVAILABLE METHODS:
        ===========================================

        ThinRDP.sendText(textValue)
        Sends a text value to the current cursor position.
        Argument:
        textValue: String - Text to be sent.

        **********************
        ThinRDP.sendKeyStroke(keyCode)
        Sends a key code, emulating press and release of key.
        Argument:
        keyCode: Number - Number representing the key the user pressed and released.

        **********************
        ThinRDP.sendKeyDown(keyCode)
        Sends a key down
        Argument:
        keyCode: Number - Number representing the key the user pressed.
        Used, i.e., to send a CTRL, ALT or SHIFT hold-down to start a special combination key sequence.

        **********************
        ThinRDP.sendKeyUp(keyCode)
        Sends a key up
        Argument:
        keyCode: Number - Number representing the key the user released.
        Used, i.e., to send a CTRL, ALT or SHIFT release to end a special combination key sequence.

        **********************
        ThinRDP.sendCtrlAltDel()
        Sends a CTRL+ALT+DEL sequence.
        Arguments: None.

        **********************
        ThinRDP.sendShiftCtrlEsc()
        Sends a CTRL+ALT+DEL sequence.
        Arguments: None.

        **********************
        ThinRDP.sendShellExplorer()
        Sends a CTRL+ALT+E (or WINDOWS+E) sequence.
        Arguments: None.

        **********************
        ThinRDP.sendShellRun()
        Sends a CTRL+ALT+R (or WINDOWS+R) sequence.
        Arguments: None.

        **********************
        ThinRDP.sendCtrlEsc()
        Sends a CTRL+ESC sequence.
        Arguments: None.

        **********************
        ThinRDP.sendCut()
        Sends a CTRL+X sequence.
        Arguments: None.

        **********************
        ThinRDP.sendCopy()
        Sends a CTRL+C sequence.
        Arguments: None.

        **********************
        ThinRDP.sendPaste()
        Sends a CTRL+V sequence.
        Arguments: None.    */


        // Send an ENTER...
        function sendEnter() {
            if (mythinrdp) {
                mythinrdp.sendKeyStroke(13);
            }
        }

        // Select the next word on Notepad, Word Processor, etc.
        function selectNextWord() {
            if (mythinrdp) {
                mythinrdp.sendKeyDown(0x11); //CTRL
                mythinrdp.sendKeyDown(0x10); //SHIFT
                mythinrdp.sendKeyStroke(39); // RIGHT ARROW
                mythinrdp.sendKeyUp(0x10); //SHIFT
                mythinrdp.sendKeyUp(0x11); //CTRL
            }
        }

        // Select a line of text from text cursor position to the next row.
        function selectLine() {
            if (mythinrdp) {
                mythinrdp.sendKeyDown(0x10); //SHIFT
                mythinrdp.sendKeyStroke(40); // DOWN ARROW
                mythinrdp.sendKeyUp(0x10); //SHIFT
            }
        }

        // Inserts the phrase into the current text cursor position.
        function sendText() {
            if (mythinrdp) {
                mythinrdp.sendText("This is a test...");
                sendEnter();
            }
        }

        // Close the current session
        function disconnect() {
            if (mythinrdp) {
                mythinrdp.doDisconnect();
            }
        }
    </script>
</head>
<body>
<!-- connection section -->
<div id="buttons">
    <form action="">
        <input type="button" onclick="sendEnter()" value="ENTER"/>
        <input type="button" onclick="selectLine()" value="SELECT LINE"/>
        <input type="button" onclick="selectNextWord()" value="SELECT NEXT WORD"/>
        <input type="button" onclick="sendText()" value="SEND 'This is a test...'"/>&nbsp;
        <input type="button" onclick="disconnect()" value="DISCONNECT"/>
    </form>
</div>
<div class="deskContainer">
    <div id="deskdiv"></div>
    <iframe id="myIframe" name="myIframe">

    </iframe>
</div>
<!----- login page content ---->
<div id="login-page" style="display: none">
    <div class="row">
        <h2 id="credTitleSpan" class="negative">Enter your credentials</h2>
    </div>
    <div class="row">
        <label for="userid">Username:</label>
        <input type="text" name="username" id="userid"/>
    </div>
    <div class="row">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value=""/>
    </div>
    <div class="row">
        <label for="secMethod">Security method:</label>
        <select name="secMethod" id="secMethod"></select>
    </div>
    <div class="btnPane">
        <div class="button trdpbtn" id="loginOk">
            <div class="trdpbtnimg" id="loginImg">&nbsp;</div>
            <div id="loginLbl">login</div>
        </div>
    </div>
</div>
<!------------------------------------------------------>
</body>
</html>
