﻿{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" href="../static/images/icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Thinfinity&reg; Remote Desktop - Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/thinrdp.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fileTransfer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popups.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/toolbar.css' %}" />
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script>
        var relPath = "/static/";

        console.log(relPath)
    </script>
<script src="{% static 'sdk.login.min.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        var mythinrdp = null;

        // refresh the screen size automatically when user resize browser window.
        // var resizeTimeout = null;
        // var waitToResize = -1; // 1000 = 1 second (-1 to deactivate)

        $(document).ready(function () {

            // GetThinRDP(serverURL, runRemote)
            //   Creates a new ThinRDP instance
                  serverURL: 'http://192.168.1.40:8443'
            //      runRemote:  use to set ThinRDP mode
            //          -- false->local (renders into this page)
            //          -- true-> remote (posts connection data to postPage ("connection.html" as default)
            mythinrdp = GetThinRDP("http://192.168.1.40:8443", false);
            function login() {
                mythinrdp.logout();
                var rc = mythinrdp.login(
                    'nasr',     // user
                    'Admin1234',   // password
                    '',                     // security method
                    function () {           // onSuccess
                        // redirect to sdk.html
                        window.location.href = 'index';
                    },
                    function () {           // onFailure
                        // do not redirect.
                        // show alert message
                        alert(thinRDPconsts.invalidUserPass);
                    }
                );
            };

window.onload = function() {
  login();
};


            $("#loginOk").click(function () {
                login();
            });

            $("#changePasswordOk").click(function () {
                changePassword();
            });

            $(document.body).keydown(function (e) {
                if (e.keyCode == "13") {
                    if ($("#login-page").css("display") == "block") {
                        login();
                    } else if ($("#changePassword-page").css("display") == "block") {
                        changePassword();
                    }
                }
            });


            // -- This snippet can handler show / hide events using on method.
            (function ($) {
                $.each(['show', 'hide'], function (i, ev) {
                    var elem = $.fn[ev];
                    $.fn[ev] = function () {
                        this.trigger(ev);
                        return elem.apply(this, arguments);
                    }
                });
            })(jQuery);
            // -- End snippet
            $("#changePassword-page").on("show", function () {
                $("#oldPassword").val("");
                $("#newPassword").val("");
                $("#cnfPassword").val("");
            });

            function changePassword() {
                var username = $("#userid2").val();
                var oldPassword = $("#oldPassword").val();
                var newPassword = $("#newPassword").val();
                var cnfPassword = $("#cnfPassword").val();

                var errorRequestPasswordAgain = function (msg) {
                    $("#newPassword").val("");
                    $("#cnfPassword").val("");
                    alertPopup(msg, thinRDPconsts.productDescription, undefined, undefined, undefined, function () {
                        setTimeout(function () {
                            unblockPopup();
                            $("#newPassword").focus();
                        }, 200);
                    });
                };
                if ((newPassword == cnfPassword)) {
                    $.blockUI({
                        message: "<div class='popup' id='updatingPassword'><h2>" + thinRDPconsts.pleaseWait + "</h2><img id='ecWaiting' src='images/core/loadajax.gif' /></div>",
                        css: {
                            'padding': 0, 'margin': 0,
                            'width': '100%', 'height': '100%',
                            'top': '0px', 'left': '0px',
                            'textAlign': 'center',
                            'backgroundColor': 'transparent',
                            'border': 'none',
                            'cursor': 'auto'
                        }, centerX: true, centerY: true
                    });
                    mythinrdp.changePassword(username, oldPassword, newPassword, function (obj) {
                        $.unblockUI();
                        if ((obj != undefined)) {
                            if (obj.rc == 0) {
                                $.unblockUI();
                                alertPopup(thinRDPconsts.passswordUpdated, thinRDPconsts.productDescription, undefined, undefined, undefined, function () {
                                    setTimeout(function () {
                                        unblockPopup();
                                        $("#password").focus();
                                    }, 200);
                                });
                                $("#changePassword-page").hide();
                                $("#login-page").show();
                                $("#userid").val(username);
                            } else {
                                var msg = thinRDPconsts.changePasswordError;
                                if ((obj.msg != undefined) && (obj.msg != '')) {
                                    msg = obj.msg;
                                }
                                errorRequestPasswordAgain(msg);
                            }
                        } else {
                            var msg = thinRDPconsts.changePasswordError;
                            errorRequestPasswordAgain(msg);
                        }
                    }, function (error) {
                        $.unblockUI();
                        if (error != undefined) {
                            var msg = thinRDPconsts.changePasswordError;
                            if ((error.msg != undefined) && (error.msg != '')) {
                                msg = error.msg;
                            }
                            errorRequestPasswordAgain(msg);
                        } else {
                            errorRequestPasswordAgain(thinRDPconsts.changePasswordError);
                        }
                    });
                } else {
                    errorRequestPasswordAgain(thinRDPconsts.invalidPasswordMatch);
                }
            };


            $("#userid").focus();
        });

    </script>
    <script>

    </script>
</head>
<body style="margin:0;overflow:hidden">
    <div class="header">
        <img src="{% static 'images/idx/productlogo.png' %}" class="logo" alt="" />
        <div id="btnlogout" onclick="doLogout()" style="display:none"><span>Logout</span></div>
    </div>
    <!----- login page content ---->
    <div id="login-page" style="display:block;">
        <div class="row">
            <h2 id="credTitleSpan" class="negative">Enter your credentials</h2>
        </div>
        <div class="row">
            <label for="userid">Username:</label>
            <input type="text" name="username" id="userid" />
        </div>
        <div class="row">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" value="" />
        </div>
        <div class="btnPane">
            <div class="button trdpbtn" id="loginOk">
                <div class="trdpbtnimg" id="loginImg">&nbsp;</div>
                <div id="loginLbl">login</div>
            </div>
        </div>
    </div>
    <!----- change password page content ---->
    <div id="changePassword-page" style="display:none;">
        <div class="row">
            <h2 id="credTitleSpan" class="negative">You must change your password</h2>
        </div>
        <div class="row">
            <label for="userid">Username:</label>
            <input type="text" name="username" id="userid2" readonly="readonly" />
        </div>
        <div class="row">
            <label for="password">Old Password:</label>
            <input type="password" name="password" id="oldPassword" value="" />
        </div>
        <div class="row">
            <label for="password">New Password:</label>
            <input type="password" name="password" id="newPassword" value="" />
        </div>
        <div class="row">
            <label for="password">Confirm Password:</label>
            <input type="password" name="password" id="cnfPassword" value="" />
        </div>
        <div class="btnPane">
            <div class="button trdpbtn" id="changePasswordOk">
                <div class="trdpbtnimg" id="loginImg">&nbsp;</div>
                <div id="loginLbl">Change</div>
            </div>
        </div>
    </div>
    <!------------------------------>
</body>
</html>
