
.ih_style .selectionBorder {
	position: absolute;
	border: 1px solid #b3b3b3; 
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	z-index: 100;
}
.ih_style .selectionArea {
	background: #e2e2e2;
	width: 100%;
	height: 100%;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}
