
.ih_style .dojoxGrid {
	position: relative;
	background-color: #e9e9e9;
	-moz-outline-style: none;
	outline: none;
	overflow: hidden;
	height: 0;
	border: none;
}

.ih_style .thumb_block, .ih_style .thumb_block tr, .ih_style .thumb_block tr td {
	width: 100%;
	border: 0px;
	padding: 0px;
	margin: 0;
	border-collapse: collapse;
	outline: none;
}

.ih_style .grid_lock {
    position:absolute;
    width: 20px;
    height: 18px;
    background: url('images/normal/10/lock.png') no-repeat right bottom;
}

/* ------------------- */
/*     Table block     */
/* ------------------- */

.ih_style .dojoxGrid.table{
	padding-left:1px;
}

.ih_style .table .alignCenter {
	text-align: center;
}

.ih_style .table .alignRight {
	text-align: right;
}

.ih_style .table .dojoxGrid table {
	padding: 0;
}
.ih_style .table .dojoxGrid td {
	-moz-outline: none;
}
.ih_style .table .dojoxGridMasterHeader {
	position: relative;
}
.ih_style .table .dojoxGridMasterView  {
	position: relative;
}
.ih_style .dojoxGridMasterMessages {
	position: relative;
	padding: 1em;
	text-align: center;
	background-color: white;
}
.ih_style .table .dojoxGridView {
	position: absolute;
	overflow: hidden;
}
.ih_style .table .dojoxGridHeader {
	position: absolute;
	overflow: hidden;
	cursor: default;
	height: 21px;
	background:#f2f2f2;
	border-bottom:1px solid #c4c4c4;
	border-top:1px solid #c4c4c4;
}
.ih_style .table .dojoxGridHeader table {
	text-align: center;
}
.ih_style .table .dojoxGridHeader .dojoxGridCell {
	height: 23px;
	border: none;
	border-left: 1px solid #c8cfd9;
	border-right: 1px solid #c8cfd9;
	font-weight: normal !important;
	color: #000 !important;
	outline: none;
	-moz-outline-style: none;
}
.ih_style .dojoxGridResizeColLine {
	width: 1px;
	background-color: #777;
	position: absolute;
	cursor: col-resize;
	z-index:10000;
}
.ih_style .dojoxGridColNoResize, 
.ih_style .dojoxGridColNoResize .dojoDndItemOver {
	cursor: not-allowed !important;
}
.ih_style .dojoxGridColResize, 
.ih_style .dojoxGridColResize .dojoDndItemOver,
.ih_style .dojoxGridColumnResizing,
.ih_style .dojoxGridColumnResizing .dojoDndItemOver,
.ih_style .dojoxGridColumnResizing .dojoxGridHeader {
	cursor: col-resize !important;
}
.ih_style .table .dojoxGridHeader .dojoxGridCellOver {
	background: url(images/gridTitleBarActive.png) #f2f9fc repeat-x top;
	border-color: white #96d9f9 #96d9f9 #96d9f9 !important;
}
.ih_style .table .dojoxGridSortDown {
	background: url(images/grid_sort_down.gif) center top no-repeat;
	padding-left: 0px;
	margin-left: 0px;
}
.ih_style .table .dojoxGridSortUp {
	background: url(images/grid_sort_up.gif) center top no-repeat;
	padding-left: 0px;
	margin-left: 0px;
}
.ih_style .table .dojoxGridArrowButtonChar {
	display:none !important;
}
.ih_style .table .dojoxGridScrollbox {
	position: relative;
	overflow: auto;
	background-color: #fefefe;
	width: 100%;
}
.ih_style .table .dojoxGridContent {
	position: relative;
	overflow: hidden;
	 -moz-outline-style: none;
	outline: none;
	cursor: default;
}
.ih_style .table .dojoxGridContent>div:first-child {
	padding-top: 1px;
}
.ih_style .table .dojoxGridRowbar {
	border: none;
	background: #ecf6f9;
	border:1px solid #c8cfd9;
	margin: 0px;
	padding: 0px;
}
.ih_style .table .dojoxGridRowbarInner {
	border: none;
	border-bottom: 1px solid #cccccc;
}
.ih_style .table .dojoxGridRowbarOver {
	background: url(images/gridTitleBarActive.png) #e9e9e9 repeat-y right;
}
.ih_style .table .dojoxGridRowbarSelected {
	background-color: #D9E8F9;
	background-image: none;
	background: url(images/gridTitleBar.png) #dddddd repeat-x top;
	border-right: 1px solid #cccccc;
	background-position: center;
	background-repeat: no-repeat;
}
.ih_style .table .dojoxGridRow {
	height: 20px;
	position: relative;
	margin-top: -1px;
	border: 1px solid transparent;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ih_style .table .dojoxGridRowOver, .ih_style .table .dojoxGridRow.dnd_target.drag_over {
	background-color: #f4fafd;
	border: 1px solid #7cc8fd !important;
}
.ih_style .table .dojoxGridRowOver .dojoxGridCell {}
.ih_style .table .dojoxGridRowOdd {}
.ih_style .table .dojoxGridRowSelected {
	background-color: #cce9f8;
	border: 1px solid #67c0ff !important;
}
.ih_style .table .dojoxGridRowSelected.dojoxGridRowOver, .ih_style .table .dojoxGridRowSelected.dnd_target.drag_over {
	background-color: #b3e2fa;
	border: 1px solid #4ab3fe !important;
}
.ih_style .table .dojoxGridRowSelected .dojoxGridCell.last-child {
	border-right-color: #cecece;
}
.ih_style .table .dojoxGridRowTable {
	table-layout: fixed;
	width: 0;
	empty-cells: show;
	border-collapse: collapse;
}
.ih_style .table .dojoxGridInvisible {
	visibility: hidden;
}
.ih_style .table .Xdojo-ie .dojoxGridInvisible {
	display: none;
}
.ih_style .table .dojoxGridInvisible td, .dojoxGridHeader .dojoxGridInvisible td {
	border-top-width: 0;
	border-bottom-width: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	overflow: hidden;
}
.ih_style .table .dojoxGridCell {
	border: none;
	border-right-width: 0px 1px;
	text-align: left;
	white-space: nowrap !important;
	-moz-outline-style: none;
	outline: none;
	overflow: hidden !important;
	height: 20px;
	font: inherit;
	padding: 0px;
}
.ih_style .table .dojoxGridCell:first-child {
	border-left: none;
}
.ih_style .table .dojoxGridContent .dojoxGridCell {
	cursor: default !important;
}
.dj_ie6 .ih_style .table .dojoxGridCell {}
.ih_style .table .dojoxGridCellFocus {}
.ih_style .table .dojoxGridCellOver {}
.ih_style .table .dojoxGridCellFocus.dojoxGridCellOver {}
.ih_style .table .dojoxGridCellClip {
	width: 100%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.ih_style .table .dojoxGridRowEditing td {
	background-color: #60a1ea; 
	
}
.ih_style .table .dojoxGridRowInserting td {
	background-color: #F4FFF4;
}
.ih_style .table .dojoxGridRowInflight td {
	background-color: #F2F7B7;
}
.ih_style .table .dojoxGridRowError td {
	background-color: #F8B8B6;
}
.ih_style .table .dojoxGridInput,
.ih_style .table .dojoxGridSelect,
.ih_style .table .dojoxGridTextarea {
	margin: 0;
	padding: 0px;
	border-style: none;
	width: 100%;
	font-size: 100%;
	font-family: inherit;
}
.ih_style .table .dijitGrid-rightAlignContainer {
	width:100%;
	position:relative;
	height: 20px;
	overflow: hidden;
}
.ih_style .table .dijitGrid-rightAlignText {
	white-space: nowrap;
	position: absolute;
	top: 3px;
	right: 0px;
}
.ih_style .table .thumb-block {
	text-align: center;
}
.ih_style .table .dojoxGridCellData {
	cursor: default;
	white-space: nowrap !important;
	margin: 0;
	padding: 0;
}
.ih_style .table .dojoxGridCellSpacer {
	margin: 0px 3px;
}
.ih_style .table img {
	width: 16px;
	height: 16px;
	padding: 0px;
	margin: auto;
	vertical-align: middle;
	outline: none;
	border: none;
}
.ih_style .table .folder, .ih_style .table .resource {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	border: none;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
.dj_ie6 .ih_style .table .folder, .dj_ie6 .ih_style .table .resource, .dj_ie6 .ih_style .table img {
	filter: expression(ITHit.WebDAV.Client.AjaxFileBrowser.Utils.FixPNG(this));
}
.ih_style .table .folder {
	background-image: url('images/normal/16/_folder.png');
}

.ih_style .table .resource {
	background-image: url('images/normal/16/_file.png');
}
.dojoxGridColPlaceTop, .dojoxGridColPlaceBottom {
	font-size:1px;
	height:6px;
	z-index:10000;
	top:0;
	overflow:hidden;
	position:absolute;
	line-height:1px;
	width:8px;
}

.dojoxGridColPlaceTop, .dojoxGridColPlaceBottom {
	font-size:1px;
	height:6px;
	z-index:10000;
	top:0;
	overflow:hidden;
	position:absolute;
	line-height:1px;
	width:8px;
}
.dojoxGridHiddenFocus {
	position: absolute;
	top: -1000px;
	height: 0px;
	width: 0px;
}

.dojoxGridResizeColLine {
	width: 1px;
	background-color: #777;
	position: absolute;
}

/* ------------------ */
/*  Thumbnails block  */
/* ------------------ */

.ih_style .thumb .thumb_block, .ih_style .thumb .thumb_block tr, .ih_style .thumb .thumb_block tr td {
	height: 100%;
}

.ih_style .thumb table.thumb_block tr td {
	padding: auto;
	text-align: center;
	vertical-align: middle;
}

.ih_style .thumb .dojoxGridMasterHeader {
	position: relative;
}
.ih_style .thumb .dojoxGridHeader {
	display: none;
}

.ih_style .thumb .dojoxGridMasterView {
	position: relative;
}

.ih_style .thumb .dojoxGridView {
	position: absolute;
	overflow: hidden;
}
.ih_style .thumb .dojoxGridScrollbox {
	position: relative;
	overflow: auto;
	background-color: #FFFFFF;
	width: 100%;
	
}
.ih_style .thumb .dojoxGridContent {
	position: relative;
	overflow: hidden;
}

.ih_style .thumb .dojoxGridRow {
	border: 1px solid transparent !important;
	border: 1px solid #FFFFFF;
	float: left;
	margin: 2px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ih_style .thumb .dojoxGridTr {
	width: 100%;
	margin: auto;
}
.ih_style .thumb .dojoxGridCell {
	border: none;
	overflow: hidden;
	width: 100% !important;
	text-align: center;
	cursor: default;
	 -moz-outline-style: none;
	outline: none;
}
.ih_style .thumb .dojoxGridRowOdd {
	background-color: transparent;
}
.ih_style .thumb .dojoxGridRowOver, .ih_style .thumb .dnd_target.drag_over {
	background-color: #f4fafd;
	border: 1px solid #d8f0fa !important;
}
.ih_style .thumb .dojoxGridRowSelected {
	background-color: #eff8fd;
	border: 1px solid #99defd !important;
}
.ih_style .thumb .dojoxGridRowSelected.dojoxGridRowOver, .ih_style .thumb .dojoxGridRowSelected.dnd_target.drag_over {
	background-color: #e7f5fd;
	border: 1px solid #b6e6fb !important;
}
.ih_style .thumb .dojoxGridCellFocus {
	border: none;
}
.ih_style .thumb .dojoxGridCellOver {
	border: none;
}
.ih_style .thumb .image_preview {
	border: 1px solid #8e8e8e;
	background-color: white;
	visibility:hidden;
	vertical-align: bottom;
	outline: none;
}
.dj_ie6 .ih_style .thumb .image_preview {
	filter: expression(ITHit.WebDAV.Client.AjaxFileBrowser.Utils.FixPNG(this));
}
.ih_style .thumb .thumb_block tr td {
	vertical-align: bottom;
}
.dj_ie6 .ih_style .thumb img {
	filter: expression(ITHit.WebDAV.Client.AjaxFileBrowser.Utils.FixPNG(this));
}

/** EXTRA LARGE **/

/* div */
.ih_style .thumb .elarge .dojoxGridRow {
	width: 270px;
	height: 276px;
	margin: 3px;
	margin-bottom: 33px;
}
/* image block */
.ih_style .thumb .elarge .image {
	height: 258px;
	text-align: center;
}
/* image */
.ih_style .thumb .elarge img {
	padding: 5px;
	margin-bottom: 10px;
}
/* text */
.ih_style .thumb .elarge .name {
	height: 18px;
	line-height: 18px;
	text-overflow: ellipsis;
}

.ih_style .thumb .elarge .folder, .ih_style .thumb .elarge .resource {
	filter: expression(ITHit.WebDAV.Client.AjaxFileBrowser.Utils.FixPNG(this));
	width: 256px;
	height: 256px;
	background-repeat: no-repeat;
	margin: auto;
	margin-bottom: 10px !important;
}
.ih_style .thumb .elarge .folder {
	background-image: url('images/normal/256/_folder.png');
}
.ih_style .thumb .elarge .resource {
	background-image: url('images/normal/256/_file.png');
}


.ih_style .thumb .elarge .dojoxGridRowOver, .ih_style .thumb .elarge .dnd_target.drag_over {
	background-image: url('images/grid_bg/thumb_bg_over_el.gif');
	background-repeat: repeat-x;
}
.ih_style .thumb .elarge .dojoxGridRowSelected {
	background-image: url('images/grid_bg/thumb_bg_selected_el.gif');
	background-repeat: repeat-x;
	
}
.ih_style .thumb .elarge .dojoxGridRowSelected.dojoxGridRowOver, .ih_style .thumb .elarge .dojoxGridRowSelected.dnd_target.drag_over {
	background-image: url('images/grid_bg/thumb_bg_selected_over_el.gif');
	background-repeat: repeat-x;
}

/** LARGE **/

/* div */
.ih_style .thumb .large .dojoxGridRow {
	width: 104px;
	height: 116px;
	margin: 3px;
	margin-bottom: 27px;
}
/* image block */
.ih_style .thumb .large .image {
	height: 98px;
	text-align: center;
}
/* image */
.ih_style .thumb .large img {
	padding: 2px;
	margin-bottom: 5px;
}
/* text */
.ih_style .thumb .large .name {
	height: 18px;
	line-height: 18px;
	text-overflow: ellipsis;
}

.ih_style .thumb .large .folder, .ih_style .thumb .large .resource {
	filter: expression(ITHit.WebDAV.Client.AjaxFileBrowser.Utils.FixPNG(this));
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	margin: auto;
	margin-bottom: 5px !important;
}
.ih_style .thumb .large .folder {
	background-image: url('images/normal/64/_folder.png');
}
.ih_style .thumb .large .resource {
	background-image: url('images/normal/64/_file.png');
}

.ih_style .thumb .large .dojoxGridRowOver, .ih_style .thumb .large .dnd_target.drag_over {
	background-image: url('images/grid_bg/thumb_bg_over_l.gif');
	background-repeat: repeat-x;
}
.ih_style .thumb .large .dojoxGridRowSelected {
	background-image: url('images/grid_bg/thumb_bg_selected_l.gif');
	background-repeat: repeat-x;
	
}
.ih_style .thumb .large .dojoxGridRowSelected.dojoxGridRowOver, .ih_style .thumb .large .dojoxGridRowSelected.dnd_target.drag_over {
	background-image: url('images/grid_bg/thumb_bg_selected_over_l.gif');
	background-repeat: repeat-x;
}

/** MEDIUM **/

/* div */
.ih_style .thumb .medium .dojoxGridRow {
	width: 74px;
	height: 68px;
	margin: 3px;
	margin-bottom: 18px;
}
/* image block */
.ih_style .thumb .medium .image {
	height: 50px;
	text-align: center;
}
/* image */
.ih_style .thumb .medium img {
	padding: 1px;
	margin-bottom: 4px;
}
/* text */
.ih_style .thumb .medium .name {
	height: 18px;
	line-height: 18px;
	text-overflow: ellipsis;
}

.ih_style .thumb .medium .folder, .ih_style .thumb .medium .resource 
{
	filter: expression(ITHit.WebDAV.Client.AjaxFileBrowser.Utils.FixPNG(this));
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	margin: auto;
	margin-bottom: 4px !important;
}
.ih_style .thumb .medium .folder {
	background-image: url('images/normal/32/_folder.png');
}
.ih_style .thumb .medium .resource {
	background-image: url('images/normal/32/_file.png');
}


.ih_style .thumb .medium .dojoxGridRowOver, .ih_style .thumb .medium .dnd_target.drag_over {
	background-image: url('images/grid_bg/thumb_bg_over_m.gif');
	background-repeat: repeat-x;
}
.ih_style .thumb .medium .dojoxGridRowSelected {
	background-image: url('images/grid_bg/thumb_bg_selected_m.gif');
	background-repeat: repeat-x;
	
}
.ih_style .thumb .medium .dojoxGridRowSelected.dojoxGridRowOver, .ih_style .thumb .medium .dojoxGridRowSelected.dnd_target.drag_over {
	background-image: url('images/grid_bg/thumb_bg_selected_over_m.gif');
	background-repeat: repeat-x;
}

/* ********************* */
/* Upload manager images */
/* ********************* */

.ih_style .table .upload_status, .ih_style .table .queue_status, .ih_style .table .error_status {
	filter: expression(ITHit.WebDAV.Client.AjaxFileBrowser.Utils.FixPNG(this));
	width: 16px;
	height: 16px;
	margin: auto;
	margin-left: -2px;
	background-repeat: no-repeat;
}

.ih_style .table .upload_status {
	background-image: url('images/normal/16/uploading.png');
}

.ih_style .table .queue_status {
	background-image: url('images/normal/16/upload_waiting.png');
}

.ih_style .table .error_status {
	background-image: url('images/normal/16/upload_failed.png');
}

.ih_style .table .progress_bar {
	height: 6px;
	padding: 0px;
	border: 1px solid #CCCCCC;
	font-size: 0px;
	margin: auto;
	overflow: hidden; 
}

.ih_style .table .progress {
	background-color: lightblue;
	height: 100%;
	width: 0%;
	font-size: 0px;
}

.ih_style .table .complite {
	background-color: #879fae;
}

.ih_style .table .error {
	background-color: red;
}
