/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.5.1
*/
.ygtvtn {
	width: 18px;
	height: 22px;
	background: url(images/treeview-sprite.gif) 0 -5600px no-repeat;
}.ygtvtm {
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(images/treeview-sprite.gif) 0 -4000px no-repeat;
}.ygtvtmh {
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(images/treeview-sprite.gif) 0 -4800px no-repeat;
}.ygtvtp {
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(images/treeview-sprite.gif) 0 -6400px no-repeat;
}.ygtvtph {
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(images/treeview-sprite.gif) 0 -7200px no-repeat;
}.ygtvln {
	width: 18px;
	height: 22px;
	background: url(images/treeview-sprite.gif) 0 -1600px no-repeat;
}.ygtvlm {
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(images/treeview-sprite.gif) 0 0px no-repeat;
}.ygtvlmh {
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(images/treeview-sprite.gif) 0 -800px no-repeat;
}.ygtvlp {
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(images/treeview-sprite.gif) 0 -2400px no-repeat;
}.ygtvlph {
	width: 18px;
	height: 22px;
	cursor: pointer;
	background: url(images/treeview-sprite.gif) 0 -3200px no-repeat;
}.ygtvloading, .ygtvloadingh {
	width: 18px;
	height: 22px;
	background: url(images/treeview-loading.gif) 0 0 no-repeat;
}.ygtvdepthcell {
	width: 18px;
	height: 22px;
	background: url(images/treeview-sprite.gif) 0 -8000px no-repeat;
}.ygtvblankdepthcell {
	width: 18px;
	height: 22px;
}.ygtvitem {
	
}.ygtvchildren {
	*zoom: 1;
}.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover {
	height: 20px;
	line-height: 20px;
	display: inline-block;
	outline: none;
	-moz-outline: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 2px;
	text-decoration: none;
	padding: 0px 5px;
	white-space: nowrap;
	color: #000000;
	border: 1px solid transparent !important;
	border: 1px solid #FFFFFF;
}
.ygtvlabel.hover, .ygtvlabel:hover, .ygtvlabel.dnd_target.drag_over {
	border-color: #c0e4fd !important;
	background:#edf7fc;
}
.ygtvlabel[class~="ygtvsel"] {
	border-color: #b3dfff !important;
	background:#e5f4fb;
}
.active .ygtvlabel[class~="ygtvsel"] {
	border-color: #a2d7fe !important;
	background:#e5f4fb;
}
.ygtvlabel[class~="ygtvsel"].hover, .ygtvlabel.uponMe, .ygtvlabel[class~="ygtvsel"]:hover, .ygtvlabel[class~="ygtvsel"].dnd_target.drag_over {
	border-color: #99d4fe !important;
	background:#d2eefb;
}
.ygtvspacer {
	width: 18px;
	height: 22px;
}

